[2017-08-14 12:24] ankur-1989 opened #1 "Docker Image is not running on ABM server"

[2017-08-14 12:27] ankur-1989 opened #2 "Run docker image from ABM application"
90% of the code is completed and committed on GitHub. Mounting repo volume and configuration files are pending.

[2017-10-02 15:24] ankur-1989 opened #3 "Cancel Build is not working properly if we cancel the build with in a second or two"

[2017-10-23 17:02] hariharansrc opened #4 "Request sent from UI using autofill is empty"
When form is filled using autofill, empty fields are sent as request to the server.

[2017-11-12 20:07] #1 closed, assigned to nobody

[2017-11-12 20:07] #2 closed, assigned to ankur-1989

[2018-01-26 17:23] nguyenLisa opened #7 "Fix the English"
Fix the typos and syntax over the website. Make everything consistent.

[2018-01-26 17:26] nguyenLisa opened #8 "Title is out of focus on small screens"
Modify layout for smaller screens so that the title on the top right does not overflow.

<img width="1278" alt="capture d ecran 2018-01-26 a 18 24 55" src="https://user-images.githubusercontent.com/1546847/35452268-5054b46c-02c6-11e8-9fa4-9f13476afb0b.png">

[2018-01-26 17:28] nguyenLisa opened #9 "Better error messages"
Make error messages more understandable. For the moment "Error 500" is not adapted for end-users.

[2018-01-26 17:32] nguyenLisa opened #10 "Login with Google fails with undefined [undefined]"
Login with Google fails since the update from http to https.

[2018-01-26 17:35] nguyenLisa opened #11 "Clean up the hardcoded configuration information"
Do not duplicate the hardcoded configuration information.
Folders such as /var/lib/abm/... should not be hardcoded in the code (e.g., bnd-workspace/de.fraunhofer.abm.hermes/src/de/fraunhofer/abm/hermes/impl/RunDocker.java). They should be retrieved from the Configuration files.

[2018-01-26 17:36] nguyenLisa opened #12 "Automated testing"
Re-establish the automated testing framework and write test cases for the Hermes functionalities.

[2018-01-26 17:38] nguyenLisa opened #13 "Automate the password modification in the build system"
Automate the build system to include the modification to the passwords before deploying to prod. This should no longer be done by hand.

[2018-01-26 17:40] nguyenLisa opened #14 "Build tabs should slide to the right, not to the left"
The build status pop-up hide visibility of the elements beneath when they are collapsed on the left.
They should be relocated to the right.

<img width="259" alt="capture d ecran 2018-01-26 a 18 40 00" src="https://user-images.githubusercontent.com/1546847/35452857-5958bcf0-02c8-11e8-8248-cbf2af907a1b.png">

[2018-01-26 17:42] nguyenLisa opened #15 "Build tabs are too small to show the name of the collection"
The build tabs are too small to show the full name of a collection. They should no longer contain the word "Building", to make more space. A tooltip should show the name of the collection on hover.

<img width="178" alt="capture d ecran 2018-01-26 a 18 41 29" src="https://user-images.githubusercontent.com/1546847/35452908-8ca7c812-02c8-11e8-86df-11e3e526c982.png">

[2018-01-26 17:44] nguyenLisa opened #16 "Add more builders"
Android, Gradle, Ant

[2018-01-26 17:44] nguyenLisa opened #17 "Create installation scripts"
To facilitate the installation of ABM on a Linux machine.

[2018-01-26 17:46] nguyenLisa opened #18 "Separate ABM from Delphi"
We should start separating the ABM part from the Delphi part, starting March/April 2018.
The testing and build systems should also be adapted to make sure nothing breaks.

[2018-01-26 17:46] nguyenLisa opened #19 "Update Angular"
Currently running on Angular 1. Should update to at least 4, starting March 2018.

[2018-01-26 17:49] nguyenLisa opened #20 "Update the UI to show the status of a Hermes run"
UI components like what we have for the build system should be included to reflect on the status of a Hermes run. At the moment, no cue is given when a Hermes run finishes.

[2018-01-26 17:50] nguyenLisa opened #21 "Properly cancel builds"
Builds are not properly canceled when the cancel button is clicked. They re-start at the next run.

[2018-01-26 17:52] nguyenLisa opened #22 "Button "Show Hermes Results" is greyed out on click"
The "Show Hermes Results" button should not be greyed out when it is clicked.

[2018-01-26 17:53] nguyenLisa opened #23 "Hermes results "Failed with 404, not found""
When clicking on the button "Show Hermes Results", there is a "Failed with 404, not found" error, although the results download works.

[2018-01-26 17:56] nguyenLisa opened #24 "Integrate Zenodo"
Collections should no longer be saved on our server, but on Zenodo.

[2018-01-26 22:27] SwapnilShahGit commented on #9
Is there backend support for this issue?

[2018-01-26 22:55] nguyenLisa commented on #9
What kind of backend support do you need?

[2018-01-27 01:36] SwapnilShahGit commented on #9
As in, if the password is incorrect, does the backend let us know, or does it just send us an error 500?

[2018-01-27 01:42] SwapnilShahGit opened #25 "Redesign the Collection view page"
The current view looks like this:
<img width="1418" alt="screen shot 2018-01-26 at 8 41 36 pm" src="https://user-images.githubusercontent.com/11033960/35467181-5c490972-02d9-11e8-90fa-835ff8b7065d.png">

The goal is to redesign as the following:
![download](https://user-images.githubusercontent.com/11033960/35467185-6d128f44-02d9-11e8-8973-ddda1f851d34.png)

Any feedback on the design is appreciat

[2018-01-27 01:59] nguyenLisa commented on #25
The proposed redesign has several usability issues that were listed during the code sprint. Please detail them here before you start coding.

[2018-01-27 02:10] nguyenLisa commented on #9
As you can see in the code of the frontend controllers (de.fraunhofer.abm.app/web/controllers/), the backend already handles different kinds of errors. "Error 500" is the default code for when the backend generates an exception or communication errors between the backend and the frontend occur.
For this issue, you simply need to make the messages that are shown in the notifications more user-frien

[2018-01-29 01:08] SwapnilShahGit commented on #25
So in terms of the white space, I feel that the information is optimally organized in a logical manner. I feel categorizing the information and creating a horizontal table of sorts can help the user read the information easier. What are your thoughts?

I feel that was the largest criticism of the design. I will go through the notes once again and read the feedback.

[2018-01-29 08:29] nguyenLisa commented on #25
The whitespace is an important concern in the design of the UI, but the most important issue in this interface is the lack of information given in the bottom table. See the detailed feedback below. Next time, please detail the entire list of issues that were discussed in your message.

Also, the prototype is incomplete. I would like to see how the UI looks like when the different options are run:

[2018-01-30 15:13] nguyenLisa opened #26 "Get a UPB-signed certificate for https"

[2018-01-30 15:21] hariharansrc commented on #10
Fixed by registering localhost:8080 with google OAuth

[2018-01-30 15:21] #10 closed

[2018-01-30 16:38] bhermann commented on #26
Applied for sudo access on the machine

[2018-01-30 16:47] ankur-1989 commented on #17
Script is ready , doing final testing of it.

[2018-01-30 17:08] nguyenLisa commented on #17
The script does not work on my machine (Ubuntu on VirtualBox). The first time it runs, it fails to install the Docker containers. I logged out and logged it again, then relaunched the script.
After the second run, I tried to launch Eclipse but it failed with a "There was an error launching the application".

[2018-01-30 18:52] tylerpav commented on #15
I have managed to get the build text removed and the tooltip to appear when the Build Viewer Modal is present, however I am currently unable to get the tooltip to populate when still on the edit collections page. The current changes are done in modalBuildViewer.htm and TabTitleFilter.js, is there a reason that the div that is being populated through the BuildTabController.js would differ from the

[2018-01-30 18:54] ankur-1989 commented on #17
I just followed the steps to reproduce on my machine and did not get any error and tested everything after running the installation script. and added one more thing to generate the generic hermes configuration directory and transfer the hermes configuration files there. committed the latest script on github master branch.

[2018-01-30 18:58] ankur-1989 commented on #17
Syntax to call the script
HERMES_CONFIG_DIR=anypath ./abm_install

 if we dont pass the HERMES_CONFIG_DIR it will take /opt/abm by default

[2018-01-30 19:32] nguyenLisa commented on #15
Can you show me what kind of code you use for the tooltips?
Off the top of my head, I can suggest you check for the style of your div, perhaps the z-index is a bit too big, or perhaps the hover event is not firing. You can check the latter with the Chrome inspect console.

[2018-01-30 19:38] tylerpav commented on #15
I just didn't think to check index.html for any sidebar code because I thought it was only on the edit collection page. It was all just really a matter of finding where it was other than the build view modal.

I just used the title attribute on the div that gets repeated, setting it to tab.name

[2018-01-30 19:38] ankur-1989 commented on #23
Hermes configuration file was missing therefore issue was coming. have placed the file , it is working now.

[2018-01-30 19:39] ankur-1989 commented on #23
Shall I close this issue now ??

[2018-01-30 19:40] ankur-1989 commented on #11
Now I have started looking into it.

[2018-01-30 19:52] nguyenLisa commented on #17
I ran the newer version of the script. Eclipse installed correctly, however:
- The pull was not done correctly: the abm repository was nowhere to be found
- The only docker image running is the Hermes one. Maven and SBT are not showing in "docker images"
- The user does not have the rights to run docker commands, even after logging out and in again

[2018-01-30 19:53] nguyenLisa commented on #23
Yes. Can you push the changes to the prod machine as well?

[2018-01-30 19:59] nguyenLisa commented on #15
So is it working now?

[2018-01-30 20:01] tylerpav commented on #15
Yes it is

[2018-01-30 20:05] ankur-1989 commented on #23
yes i placed the file on prod only and tested on abm server.

[2018-01-30 20:06] nguyenLisa commented on #15
Great! Thanks for your work. Feel free to create a pull request and to close the issue.

[2018-01-30 20:07] nguyenLisa commented on #23
Thanks! Feel free to close the issue.

[2018-01-31 10:07] bhermann commented on #26
Got access... Added a key and send the certification request

[2018-01-31 10:44] bhermann commented on #26
Certificate installed. Connection is now secure using a signed certificate.

[2018-01-31 10:44] #26 closed

[2018-01-31 15:29] bhermann opened #27 "Possible enumeration of user accounts"
The REST service at the endpoint /rest/approval may leak information on the existence of a user account. If I access the service without a proper username it returns "No entity found for query". This is due to the fact that the method in the UserApprovalController class returns the raw output of every exception encountered.

It should not be possible for a caller to see the reason why their reques

[2018-01-31 15:45] bhermann opened #28 "Remove enumeration of available REST services"
A request to /rest/ (e.g. https://abm.cs.upb.de/rest/) reveals the available REST services. It is not considered good practice to reveal the list of possible endpoints to the client.

Please remove this list from the server's response.

[2018-01-31 15:46] bhermann commented on #28
It might also be okay to filter this error using the apache server on the deployed instance.
If we choose this solution, however, we should mark this in the installation manual.

[2018-01-31 16:59] #23 closed

[2018-02-01 00:41] nguyenLisa commented on #28
Fixed through the Apache configurations. The developer manual has been updated as well.

[2018-02-01 00:42] #28 closed

[2018-02-01 01:31] nguyenLisa commented on #27
Fixed in the [UserApprovalController](https://github.com/nguyenLisa/abm/blob/master/bnd-workspace/de.fraunhofer.abm.app/src/de/fraunhofer/abm/app/controllers/UserApprovalController.java#L49).

Also left a todo for a functionality enhancement: when the user is validated, they should get an email notifying them of it.

@hariharansrc, can you make that todo and deploy it on the production server plea

[2018-02-01 02:59] hariharansrc commented on #27
@nguyenLisa
Sure I will do that.

I didn't know about user-enumeration before. I have few more clarifications.
1)  If we catch custom exception instead of  Exception will that be still an security issue?
2) Is there a common exception class like AbmException extending RuntimeException that can be used for indicating the failure or is there any other alternative?
3)Is sending raw output for http re

[2018-02-01 03:37] nguyenLisa commented on #27
The issue here was not that the wrong type of exception was caught, but that the details of the error were accessible to everyone. This gives too much information to an attacker and allows them to guess valid usernames based on the return value.
In this case, it was not really an issue, since the information returned was minimal, and the attacker would have to guess both the name and the token to

[2018-02-02 15:07] SwapnilShahGit opened #29 "Eliminate freeze/unfreeze implementation in Collection view"
According to @nguyenLisa, there is currently no need for the freeze/unfreeze functionality on the collection pages. This issue is to eliminate that part of the UI and perform any necessary cleanups.

[2018-02-02 16:42] #15 closed

[2018-02-03 10:02] nguyenLisa opened #32 "Update the information in the About page"
- Add Ben in the "Contact information" section.
- Supported platforms are Github, Maven, Bitbucket.
- Add Hermes (https://dl.acm.org/citation.cfm?id=3088523) to the publications list.
- Make mention of this open-source repository in the "How can I contribute?" section.
- If anything is not clear to you in the About page, feel free to reformulate it.

[2018-02-03 10:05] nguyenLisa opened #33 "Fix title and tab title"
The title of the tab and the title on the top right of the page should be fixed: It should be "Automated", and not "Automatic".

[2018-02-03 10:08] nguyenLisa opened #34 "Searching for a public collection fails with 403 - Forbidden"
This only happens when not logged in. It works when logged in.

[2018-02-03 10:14] nguyenLisa opened #35 "Remove the "created by" information from the public collections"
Browse to "Collections" and select a public collection. The "created by" information should not be displayed here.

[2018-02-03 10:17] nguyenLisa opened #36 "Private collections should now be "My collections""
- [x] In the "Collections" tab, rename "Private collections" to "My collections".
- [x] Include in "My collections" the list of public collections that have been created by the user.
- [ ] Add a column in the "My collections" table that contains a button "Make public" if the collection is private, and a "Pin collections" if the collection is public.

[2018-02-03 10:20] nguyenLisa opened #37 "Add collection ID in a collection's information"
On the screen that shows the details of a collection, the collection ID should be shown on top, and be non-editable. This should be done for both public and private collections.

[2018-02-03 10:22] nguyenLisa opened #38 "Allow deriving a new collection from public collections"
Even if a collection is public, one should be able to derive a new collection from it (if logged in).

[2018-02-03 10:23] nguyenLisa opened #39 "Give visual cues that the collection rows in the "Collections" page can be clicked"
- Have the cursor turn to pointer when hovering over a collection.

[2018-02-03 10:31] nguyenLisa opened #40 "Public collections should only show one version"
A public collection should only display the version that was made public, and that version only.
On the view that details a collection:
- The version drop-down should not be shown for the pages of a public collection.
- The ID of the version and creation date should be shown in the collection information.
- When making the collection public, the confirmation pop-up should provide the version drop-

[2018-02-03 10:32] nguyenLisa opened #41 "The buttons of a public collection should be consistent"
The bottom row of a public collection page (Download, pin, etc.) are smaller than the rest. They should have the same style.

[2018-02-04 23:05] ankur-1989 commented on #3
This issue is redundant with #21 so closing this issue.

[2018-02-04 23:05] #3 closed

[2018-02-05 12:10] ankur-1989 commented on #11
Fixed the changes and pushed the changes to master branch. Tested the changes on local. will push the changes to production branch with solution of issue #13. Closing this issue now. Now we only need to change in HermesConfiguration.java file.

[2018-02-05 12:14] ankur-1989 commented on #21
I tried to reproduce this issue and found what happens actually -
 When you cancel the build , it cancel the build but does not change the button label , for that you need to close the panel once and come back to panel and then it will show delete button and from there you can delete the cancelled build.

do we need to change this functionality ? I mean cancel button label should change to delete

[2018-02-05 12:51] nguyenLisa commented on #21
Yes please. When a build is canceled, the UI should automatically go to such a state:
<img width="1268" alt="capture d ecran 2018-02-05 a 13 47 30" src="https://user-images.githubusercontent.com/1546847/35805300-92e7a552-0a7b-11e8-94ac-5292e453a55e.png">

And when the user clicks on "Show build", they should see something of the sort:

<img width="1262" alt="capture d ecran 2018-02-05 a 13 46 39"

[2018-02-05 13:07] nguyenLisa commented on #11
Thanks for cleaning up /opt/abm.
Could you also add /var/lib/... in the configuration file as well? It can still be found here: https://github.com/nguyenLisa/abm/blob/master/bnd-workspace/de.fraunhofer.abm.suitebuilder/src/de/fraunhofer/abm/suitebuilder/impl/Configuration.java#L20 and here: https://github.com/nguyenLisa/abm/blob/32c7c61f01ef72f3cfefb2836fc66f76beb4fc77/bnd-workspace/de.fraunhofer.

[2018-02-09 16:06] #7 closed

[2018-02-10 20:04] ankur-1989 commented on #11
I went through the documentation of Osgi enroute framework but i found this is the better way that we are using currently for defining configurations for individual components I tried different ways but other methods  do not set the configuration data on component registration. Should we keep it like this ?otherwise I will have to change the structure of passing the configuration data which is not

[2018-02-10 20:10] nguyenLisa commented on #11
In that case, please keep the configuration information in separate files then.

[2018-02-10 20:16] ankur-1989 commented on #11
ok. It is done then. shall I close this ticket ?

[2018-02-10 20:18] nguyenLisa commented on #11
Yes, you can close the ticket. Before that, please also update the Configuration section of the developer manual to document your changes.

[2018-02-10 20:20] ankur-1989 commented on #11
In current set up , we dont need to set the directory path or need to create if the required directory structure is not there. application will itself create the directory structure and application will run fine.

[2018-02-10 20:24] nguyenLisa commented on #11
Thanks for the information. Please make a note of that in the developer manual.

[2018-02-10 20:31] ankur-1989 commented on #11
Developer manual updated with the information.

[2018-02-10 20:31] #11 closed

[2018-02-10 20:49] ankur-1989 commented on #21
Ii did not get the last part of the comment - as per current set up , cancel build stops the process and when you come back using show build button you see the delete button with stopped processes.

![image](https://user-images.githubusercontent.com/24721077/36066561-02b09df6-0eac-11e8-8dbe-99f9227e1a9b.png)

[2018-02-10 20:54] nguyenLisa commented on #21
Yes, the last part already exists. Just make sure you keep it that way.

[2018-02-10 20:56] ankur-1989 commented on #21
I tried one more scenario -
So if you cancel the build after docker image creation so it cancel the building and successfully deleted the docker container and image which is required so this part is also working fine.

[2018-02-10 21:40] ankur-1989 commented on #21
After changes what it does is -
1. Build the version
2. modal window will open and will start the process.
3. On click of cancel build , it will cancel the process and will close the connection and close the panel.
4. On reopen the panel , we will see delete button and close button.
5. Using delete button , we can delete the cancelled repository.

Is this procedure expected ?

[2018-02-10 23:21] ankur-1989 commented on #21
i did some changes now it is not happening.

[2018-02-11 07:32] nguyenLisa commented on #21
Great! Can you push your changes?

[2018-02-11 11:59] bhermann commented on #17
I tried on a plain Debian 9.3.0 in newly-installed VM. Here are a few things I notices:

- The script requires and already installed git and sudo. This could be checked and installed if not present.
- The script requires that the current user has sudo rights, but does not stop if this is not the case. Thus, parts are executed and parts are left out.
- If get an error for line 3: `abm_install.sh: Z

[2018-02-12 01:57] ankur-1989 commented on #13
committed the latest changes in automate_password_modification branch where all the configuration are stored in one file under cnd/build.bnd and all the hardcoded tokens and passwords has been removed from the code now. we are not pushing build.bnd file to github.

[2018-02-12 01:58] ankur-1989 commented on #13
Could not deploy the code because server is not accessible.

[2018-02-12 16:21] ankur-1989 commented on #17
Noted!! Working on it.

[2018-02-13 16:26] bhermann commented on #12
The reference mentioned above in the issue stream was unintentional

[2018-02-14 07:24] SwapnilShahGit commented on #32
@bhermann What is the email address I should add to your contact information?

[2018-02-14 07:26] SwapnilShahGit commented on #32
After some stalking, going to add "ben.hermann@uni-paderborn.de". Please let me know if there is a different one you would like me to add.

[2018-02-14 07:28] SwapnilShahGit commented on #32
@nguyenLisa what do you mean by "Supported platforms are not Github, Maven, Bitbucket."

[2018-02-14 07:48] nguyenLisa commented on #32
Sorry, I meant "Supported platforms are Github, Maven, Bitbucket."
The email address for Ben is the correct one. Thanks.

[2018-02-14 10:27] #32 closed

[2018-02-15 07:27] nguyenLisa commented on #39
Can you also make sure that this happens consistently over the website, and not only on the "Collections" page? (e.g., in "My Collections" or in the search results when creating a collection)

[2018-02-15 07:30] nguyenLisa commented on #8
Any update on the bug we talked about? : For smaller screens, the title overlaps with the menu. Ideally, one should go below the other if the screen is resized and there is not enough space for both on the same line.

[2018-02-15 07:56] nguyenLisa commented on #8
Also, on bigger screens, the title goes over the right margin. Could you please fix that?
![untitled](https://user-images.githubusercontent.com/1546847/36246013-0af71faa-122e-11e8-8b28-5dc41ea8027c.png)

[2018-02-15 16:35] alexli123 commented on #39
Will do!

[2018-02-15 16:36] alexli123 commented on #8
Hey Lisa, I missed any comments on this bug after I issued the pull request - I'll take care of this shortly.

[2018-02-15 16:56] ankur-1989 commented on #21
pushed the changes and now working fine.Hence closing the ticket.

[2018-02-15 16:56] #21 closed

[2018-02-16 14:09] nguyenLisa opened #46 "Errors with the public demo application"
- [ ] Searching for "demo" in the Public collections page generates a 403 error.
- [x] Downloading the Hermes results generates a 403 error.
- [ ] Downloading the collections generates a 404 error (which is then redirected to the home page).

[2018-02-16 17:04] tylerpav commented on #41
Closed with pull request #43

[2018-02-16 17:04] #41 closed

[2018-02-16 17:04] tylerpav commented on #33
Closed with pull request #43

[2018-02-16 17:04] #33 closed

[2018-02-16 17:28] nguyenLisa commented on #25
Closing this issue: it will be worked on through other issues.

[2018-02-16 17:28] #25 closed

[2018-02-16 21:24] ankur-1989 commented on #17
Script is completed now and have updated on github with abm_install.zip under docs folder.
Steps to follow :-
 1. Download the zip file and unzip it.
 2.  It contains abm_install.sh which we need to execute.
 3. Command to run the script -

sudo  sh mailid=your_email_id user=your_local_user MYSQL_ROOT_PASSWORD=your_choice_password HERMES_CONFIG_DIR=your_choice_dir abm_install.sh

MYSQL_ROOT_PASSWO

[2018-02-16 21:25] ankur-1989 commented on #17
one more thing, now the script will do completely silently install will not ask for any input.

[2018-02-16 21:27] ankur-1989 commented on #17
once the installation is done , post installation steps are

1. Install bndtools in Eclipse
2. Import project in Eclipse
3.  Run the application and configure the demo user as per the instructions in developer_manual.

I will update all the instructions in Developer_manual as well once this is fully tested by others.

[2018-02-16 22:00] nguyenLisa commented on #17
Thanks Ankur. I tested the new script, and here's my feedback.
- The command should have the script file earlier: `sudo sh abm_install.sh mailid=your_email_id...`
- Could you clean up the docs folder by removing the old scripts?
- Error in the installation of docker-ce.
- Script stuck at the sql installation.
Terminal prints below:
[code]

[2018-02-16 22:13] ankur-1989 commented on #17
From the logs i can see apt-get repository does not have docker packages which I found for myself but I was expecting it. This I will change. Second mysql installation is silent so it remains there for some time and then prints log so it feels it is stucked, but through logs it does not look like it failed.

[2018-02-16 22:15] ankur-1989 commented on #17
Old script deleted from the docs folder.

[2018-02-16 22:26] nguyenLisa commented on #17
Ok, let me know when you have the new script and I'll test it.
How long does the sql installation typically takes? I let it run for 10 min roughly before stopping it.

[2018-02-16 22:35] ankur-1989 commented on #17
it should not take 10 mins . even it should not stuck because there is no such command which depends on something.I'll look into it and will update soon.

[2018-02-16 22:37] nguyenLisa commented on #17
Thanks!

[2018-02-16 23:27] ankur-1989 commented on #17
So I found the issue. Script was getting stuck at java installation. I missed the -y option during that and it was waiting for Y input but does not show on console as I was logging all the console output in log file.  Fixed this and docker part too. Tested on fresh Ubuntu image and working perfectly. attaching the logs.

You have to log out and log in after the installation.

[2018-02-16 23:29] ankur-1989 commented on #17
or better to restart sometimes logout login does not work.

[2018-02-16 23:30] ankur-1989 commented on #17
[2018-02-16 17:59:30 root.log](https://github.com/ABenchM/abm/files/1733130/2018-02-16.17.59.30.root.log)
[2018-02-16 18:14:47 root.log](https://github.com/ABenchM/abm/files/1733131/2018-02-16.18.14.47.root.log)

[2018-02-17 00:28] nguyenLisa commented on #17
Tested until the script finished. The installation seems to work fine. Here's my feedback:
- [ ] The Eclipse version that is installed is 3.8 (Juno or Indigo if I am not mistaken). Would it be possible to install a newer version?
- [ ] The mailing command is commented out. It would be nice to have it in again. Or was it commented out because it caused errors? In this case, we can leave it commente

[2018-02-17 01:16] ankur-1989 commented on #17
1. Yes in installs old eclipse which it finds latest in Ubuntu repository. To install the latest version , either update the repository or download the latest version.
2. Mailx utility will work , user will have to configure the mailx utility in his or her system. i did not keep it open because there are multiple mail agents and different requirements and it asks for particular configurations. so

[2018-02-17 07:36] nguyenLisa commented on #17
1. Yes, please change that.
2. Then, please remove the mailing option from the commandline.
3. Cool, thanks. Follow-up: at the beginning of the script, please print the path to the log files, just in case.

Let me know when you have an updated version with a newer Eclipse. I'll test it then. Thanks!

[2018-02-17 14:07] tylerpav commented on #36
First two checkboxes are done as requested by Lisa on slack (not pushed yet); will see if third can be finished as well.

[2018-02-17 14:52] nguyenLisa commented on #36
Great! Before pushing, please make sure that you test the changes (everything works well and nothing broke) on the latest version of the code (sync your branch with the master).

[2018-02-18 09:18] ankur-1989 commented on #17
Uploaded the file with the latest changes now. let me know if any issues found.

[2018-02-18 17:27] nguyenLisa commented on #17
Thanks, the scripts work. I did a few modifications to simplify the commandline options and beautify what we see in the terminal. I tested it on an Ubuntu VM, and everything works (installation, set-up of Eclipse and the ABM local configurations, creation of a demo user, creation of a collection (containing the project apache commons fileupload), build of a collection and Hermes run on that collec

[2018-02-18 17:38] ankur-1989 commented on #17
Lisa I noticed one thing in the changes that you have added bash in the script in front of commands. Will it work for other shell kernels like sh , ksh or others ?

[2018-02-18 17:39] ankur-1989 commented on #17
I'll check the changes.

[2018-02-18 18:00] ankur-1989 commented on #17
Yeah , Script is working fine. Shall I close this ticket now ?

[2018-02-18 18:11] nguyenLisa commented on #17
Sure!

[2018-02-18 18:30] #17 closed

[2018-02-18 20:50] ankur-1989 commented on #46
I looked into this issue. So to reproduce this issue. Following are the steps that I did along with my findings -
1. I built two repositories and ran Hermes filter on that.
2. Then I made the collections public to see after logging out of the demo user.
3. Then I tested all the three issues given above on the newly added public collections.
4. So first two are not working reasons given below and t

[2018-02-18 21:20] nguyenLisa commented on #46
The pin/unpin feature allows users to keep their "favourite" collections somewhere so that they can access them later. So when logged in, users should have an extra section in the Collections page that shows their pinned collections (those collections are always public collections). When logged out, the pinned section is not shown.

In all cases, the search and download functionalities should be i

[2018-02-21 00:33] SwapnilShahGit commented on #14
@nguyenLisa I want to confirm that you mean it should slide from the left side of the screen. So slide from right to left from the left side of the screen.

[2018-02-21 06:43] nguyenLisa commented on #14
When collapsed, the tab shows on the left side of the screen (see image). This hides what is beneath. Instead of being placed on the left, the tabs should show on the right. And of course, all animations concerning the tabs should work properly.

[2018-02-21 17:29] nguyenLisa opened #47 "Emails are not sent"
On registration, emails to the admins are not sent. This could be due to the spam policy at the upb mail server. Could someone have a look into this?

[2018-02-22 07:13] nguyenLisa commented on #47
Fixed by changing the email configuration.

[2018-02-22 07:13] #47 closed

[2018-02-22 17:05] #14 closed

[2018-02-23 06:53] nguyenLisa opened #49 "The project rows on a collection's page should link to the URL of the repository"
In a collection's page, the list of projects belonging to a collection are shown in a table. Each row of the table should:
- [ ] be clickable and link to the URL of the project's repository, with the right commit.
- [ ] show a clickable cursor on mouse hover.

[2018-02-23 07:03] nguyenLisa opened #50 "my.htm and editCollection.htm are duplicates"
Why is my.htm used?

[2018-02-23 17:25] ankur-1989 commented on #50
Need to check, I never created it. need to check if it is really getting used

[2018-02-25 13:51] ankur-1989 commented on #50
we are not using my.html anywhere , may be somebody created it for testing. I'll delete it and will commit the latest one in master branch. we need to make sure things created for testing purpose should not be committed in master branch.

[2018-02-25 14:09] nguyenLisa commented on #50
I can see it being used here https://github.com/ABenchM/abm/blob/master/bnd-workspace/de.fraunhofer.abm.app/web/controllers/CollectionController.js#L144 and there https://github.com/ABenchM/abm/blob/master/bnd-workspace/de.fraunhofer.abm.app/web/controllers/CollectionController.js#L161
Is that an error?

[2018-02-25 14:13] nguyenLisa commented on #50
From what I am seeing in the history, my.htm was the original page for editing a collection. Five months ago, @ankur-1989 created the editCollection.htm. Do you remember why you did that instead of reusing my.htm?

[2018-02-25 15:07] ankur-1989 commented on #50
Yeah Now I remember , Do you remember we used to have MyCollections page earlier so then we had this page my.html but later alex restructured the application and after that we had replaced the mycollection page with edit collection page. So now there is no mycollection page but my.htm still exist and it is getting called at some places. I replaced the calling of /my with editCollection and tested

[2018-02-25 15:08] ankur-1989 commented on #50
It is commented at some of the places but he might forgot to change it at some places.

[2018-02-25 15:22] nguyenLisa commented on #50
Ok, thanks for looking into it. Feel free to close the ticket! :)

[2018-02-25 15:24] ankur-1989 commented on #50
Sure i'll close this ticket now.

[2018-02-25 15:24] #50 closed

[2018-02-25 17:08] ankur-1989 commented on #46
I have one more question - Is it like only pinned collections should be visible on Public collection page ??
As of now , both pinned and unpinned collections are visible on public collections page .

Solutions possible -
 1. Only pinned collections should be visible on public collections page.
2. or we should not check if it is pinned or unpinned because it does not matter when you are not logged

[2018-02-25 17:32] nguyenLisa commented on #46
You can only pin collections if they are public.
So when logged out, you should see all public collections. When logged in, you should see your own private collections, all public collections, and the public collections you have pinned because you want to keep track of them for later.

Doest that answer your question?

[2018-02-25 17:45] ankur-1989 commented on #46
No I meant to say - we see collections pinned or unpinned on the same page when you are logged in. These collections only are visible on public collections page when we are logged out. So my question is - Do we need to show only pinned collections on public collection page or both?
Second is if we are showing both pinned and unpinned on public collections page then whether we should check if the c

[2018-02-25 17:53] nguyenLisa commented on #46
You shouldn't need to check if the collections are pinned or not when you are logged out.
Pinned collections are just for a particular user, so when that user is logged in. When logged out, only the list of public collections should be shown, whether or not they are pinned.

[2018-02-25 23:14] nguyenLisa commented on #46
That's because a server configuration redirects all 404 to the home page. We could remove this configuration but I would rather keep it as is.
Instead, would it be possible to do a check before generating the page and only allow download of files that exist?

[2018-02-25 23:26] ankur-1989 commented on #46
Ah ok. However , current application only allows download of files that exist if does not exist it redirects the page back to list of collections ,but if we want to show a notification that file does not exist so to do that either we have to remove that configuration or have a find a different solution.

I implemented one more solution and tested thats why it took me so much time . In that solutio

[2018-02-25 23:27] ankur-1989 commented on #46
That's why I implemented the other method but this configuration has restricted this solution.

[2018-02-25 23:29] nguyenLisa commented on #46
Why not do the check when the page is generated? Then, if the file does not exist, we just don't show the "Download Collection" button. Same for the "Download Hermes results" button.
What do you think?

[2018-02-25 23:36] ankur-1989 commented on #46
yes this can be done with rest end point approach. i'll make changes and test.

[2018-02-26 00:56] ankur-1989 commented on #46
Done and tested. Do I only need to make the buttons invisible or need to keep the message as well in place of buttons like File does not exist ??
Will deploy the changes after this.

[2018-02-26 01:08] nguyenLisa commented on #46
Just greying out the buttons will be fine. If a tooltip could also be added with "The collection does not exist.", it would also be great.

[2018-02-26 19:07] ankur-1989 commented on #46
Fixed the last part of the issue. Implemented in production. please check and let me know if everything works fine then I will close the ticket.

[2018-02-26 19:23] nguyenLisa commented on #46
It works fine, feel free to close the issue. Thanks!

[2018-02-26 19:26] nguyenLisa opened #53 "Need a "cancel search" button for the search functionality in the public collections"
Once a search is done, only the collections that match the search are left in the table.
There should be a "cancel search" button that would allow the table to reset and show all collections.

[2018-03-03 01:49] SwapnilShahGit opened #54 "Set up Skeleton Html for EditCollection Page"
**Buttons**
- [x] Delete Collection
- [x] New Version
- [x] Make Public
- [x] Delete Version
- [x] Save Changes
- [x] Edit Project(s)
- [x] Download Results

**Text boxes**
- [x] Collection Name
- [x] Collection Description

**Drop downs**
- [x] Build Name

**Charts**
- [x] Project Chart
- [x] Name Column
- [x] Commit Column
- [x] Add/Remove Filters Column

[2018-03-03 01:51] SwapnilShahGit commented on #54
Please also refer to: https://docs.google.com/document/d/1sGTa4tlajKHZg5M_0_UTXI5HYDEQFhOCKJ-moYOzF9s/edit

Alongside, the feedback by Lisa in the "20180302" meeting minutes:
https://docs.google.com/document/d/10bnSZtqJJ83Rs8xM8C06oJYeQ7H1FNiLroYWfOkVowI/edit#

[2018-03-03 01:53] SwapnilShahGit opened #55 "dynamically get collection information"
Work off #54 and use existing code

[2018-03-03 01:53] SwapnilShahGit opened #56 "dynamically get build information"
work off #54 and use existing code

[2018-03-03 01:56] SwapnilShahGit opened #57 "generate logic for when buttons should be enabled/disabled"

[2018-03-03 01:57] SwapnilShahGit opened #58 "create slide bar for version build information"
- alert user if build fails

[2018-03-03 01:57] SwapnilShahGit opened #59 "implement delete collection button"
- create alert to ensure user wants to delete collection

[2018-03-03 01:58] SwapnilShahGit opened #60 "implement new version feature [Hermes Modal]"
- [x] set up new version modal skeleton
- [x] fetch possible filters from hermes and populate modal (semi-existing code)
- [x] build version from the modal
- [x] select filters wanted for version
- [ ] search for filters
- [ ] run hermes after version is built with selected filters
- [ ] create a new filter for custom logic (at least X lines of code, Y number of commits, etc.)

[2018-03-03 01:59] SwapnilShahGit opened #61 "dynamically get project information for projects chart"
- use existing code

[2018-03-03 01:59] SwapnilShahGit opened #62 "implement delete version button"
- [x] create alert to ensure user wants to delete version
- [x] use existing code

[2018-03-03 02:11] SwapnilShahGit opened #63 "make collection name/description editable with save changes button"
- use existing code

[2018-03-03 02:12] SwapnilShahGit opened #64 "link edit projects button to appropriate collection in “create collection” view"
- this potentially might require changes in the backend, speak to @bhermann about this

[2018-03-03 02:13] SwapnilShahGit opened #65 "implement “Make Public” button"
- use existing code

[2018-03-03 02:13] SwapnilShahGit opened #66 "implement download results button"
- use existing code

[2018-03-03 02:14] SwapnilShahGit opened #67 "Implement build failing notification system"
- notify the user when one of the current builds fails

[2018-03-03 02:14] SwapnilShahGit opened #68 "implement add filter option to projects chart"
- [ ] set up add filter modal
- [ ] add search feature to separate filters
- [ ] populate chart with existing filters in version
- [ ] add implementation for “clear search” option
- [ ] add selected filters to chart upon clicking “Add selected projects”
- [ ] add functionality to delete filter upon right clicking filter name in chart

[2018-03-04 04:10] SwapnilShahGit commented on #60
From mockup for reference: <img width="451" alt="new_version" src="https://user-images.githubusercontent.com/11033960/36942052-0f55a6cc-1f38-11e8-8e71-f89b635d3b55.png">

[2018-03-04 04:10] SwapnilShahGit commented on #54
From mockup for reference:
<img width="734" alt="skeleton" src="https://user-images.githubusercontent.com/11033960/36942054-1fc1ba64-1f38-11e8-897a-12de387fee06.png">

[2018-03-04 04:11] SwapnilShahGit commented on #59
From mockup for reference:
<img width="204" alt="delete_verification" src="https://user-images.githubusercontent.com/11033960/36942055-2bb543cc-1f38-11e8-8a23-86c0df0c5ffa.png">

[2018-03-04 04:11] SwapnilShahGit commented on #67
From mockup for reference:
<img width="201" alt="build_failed_notification" src="https://user-images.githubusercontent.com/11033960/36942059-35a22648-1f38-11e8-8b6f-9caa8e29b123.png">

[2018-03-04 04:12] SwapnilShahGit commented on #68
From mockup for reference:
<img width="512" alt="add_filter" src="https://user-images.githubusercontent.com/11033960/36942064-487f0b8c-1f38-11e8-9e96-bac5151fe042.png">

[2018-03-04 04:13] SwapnilShahGit opened #69 "Match Website visuals with collection view"

[2018-03-04 04:19] SwapnilShahGit opened #70 "upload mockups for collection view"

[2018-03-04 04:26] SwapnilShahGit commented on #65
ensure you verify with the user with a popup

[2018-03-04 07:31] nguyenLisa commented on #54
After the discussions of the last meeting, the mockup is no longer up to date. Please update it.
- [ ] Description box to the right of the collection information.
- [ ] Build information beneath the Collection information.
- [ ] Build information layout: horizontal.
- [ ] Horiontal separator between the Collection and Build information.

[2018-03-04 19:47] ankur-1989 commented on #16
Gradle Builder implementation is completed. Could you please provide me some Gradle project github handle for regression testing. I have tested the netbeans-gradle-project as of now

[2018-03-04 20:51] nguyenLisa commented on #16
You can try with the following projects:
https://github.com/mockito/mockito
https://github.com/spring-projects/spring-framework
https://github.com/hibernate/hibernate-orm
https://github.com/aosp-mirror/platform_external_qemu
https://github.com/aosp-mirror/platform_external_protobuf
And any project of this organization https://github.com/groovy

[2018-03-12 00:11] ankur-1989 commented on #16
so Gradle regression testing is finished tested mockito and some other projects based on gradle.

[2018-03-12 00:53] #39 closed

[2018-03-12 00:53] #8 closed

[2018-03-12 17:56] #70 closed

[2018-03-14 20:23] tylerpav commented on #56
Current items in:
- [] Name - currently has the old version dropdown in. Are versions now going to be named? Or is it still version x? Should this dropdown have versions that are public?
- [x] Creation Date
- [ ] Latest Version Built - If this label is accurate doesn't it make more sense for it to be in collection info? or is it supposed to be 'last time version was built'
- [x] Privacy

[2018-03-14 20:25] tylerpav commented on #63
- [x] Name
- [x] Description

[2018-03-14 20:39] tylerpav commented on #57
Save Changes:
- [ ] Disabled when Name is empty
- [ ] Disabled when building
Delete Collection
None
New Version:
None
Make Public:
- [ ] Disabled when version is public
- [ ] Disabled when building ???
Delete Version:
- [ ] Disabled when version is public
- [ ] Disabled when building ???
Edit Project(s):
- [ ] Disabled when version is public
- [ ] Disabled when building ???
Download Hermes Results

[2018-03-14 20:48] tylerpav commented on #55
- [x] Name
- [x] Created Date
- [x] Created By
- [x] ID

[2018-03-14 21:16] nguyenLisa commented on #12
@ankur-1989 could you also look into testing frameworks for UI tests in Angular?

[2018-03-14 23:02] ankur-1989 commented on #12
sure I'll look into it.

[2018-03-15 12:08] ankur-1989 commented on #12
Some of the popular testing frameworks are as follows -
karma
Angular mocks
Protactor
Mocha
I will look into detail which fits best for our purpose.

[2018-03-15 12:10] nguyenLisa commented on #12
Which ones can we integrate in our CI system?

[2018-03-15 12:14] ankur-1989 commented on #12
Karma can be integrated with Jenkins and Travis with debugging feature.

[2018-03-15 12:15] ankur-1989 commented on #12
for others, I will have to go into detail if possible with others or not.

[2018-03-15 12:16] nguyenLisa commented on #12
What about Selenium?

[2018-03-15 12:16] ankur-1989 commented on #12
I heard about it also. I will check that too.

[2018-03-15 19:10] SwapnilShahGit commented on #64
- Adding a project should redirect the user to the create collections page, with a notification instructing them on what to do
- Removing a project should remove projects that are selected

[2018-03-15 19:21] SwapnilShahGit commented on #64
Requirements have changed, so making a new issue for each specific button. Closing this one.

[2018-03-15 19:21] #64 closed

[2018-03-15 19:22] SwapnilShahGit opened #75 "Implement "Add Project(s)" button in skeleton view"
Adding a project should redirect the user to the create collections page, with a notification instructing them on what to do

[2018-03-15 19:24] SwapnilShahGit opened #76 "Implement "Delete Project(s)" button in "Edit Collections" page"
Removing a project should remove projects that are selected

[2018-03-15 19:30] SwapnilShahGit commented on #54
Feedback from Lisa:
(1) "Description" should be horizontally aligned with "Collection information".
(2) "Decription", "Collection information" and "Build information" should be aligned left.
(3) "Collection information" and "Build information" should be shown in a bigger font.
(4) The font of the whole page (except the buttons and table) seems to be bold. This should *not* be the case. Please be c

[2018-03-15 19:42] tylerpav commented on #54
Will put some/most of these in and hopefully be able to screenshare tomorrow - worse case will provide a screenshot so we can discuss.

[2018-03-19 15:40] alexli123 commented on #68
This can't be done without the "new version" modal being built first right?

[2018-03-19 18:10] tylerpav commented on #66
can't seem to find the js/java methods for this - the old editCollection.htm has CollectionController.downloadCsv(version id) however that doesn't seem to actually exist.

[2018-03-19 18:17] tylerpav commented on #54
Posted screenshot to slack for approval

[2018-03-19 18:17] #55 closed

[2018-03-19 18:18] tylerpav commented on #63
Description can be blank as discussed with Lisa

[2018-03-19 18:18] #63 closed

[2018-03-19 18:23] tylerpav commented on #62
Alert added

[2018-03-19 18:23] #62 closed

[2018-03-19 18:24] tylerpav commented on #59
Alert added as confirm, so doesn't have the exact same layout as above.

[2018-03-19 18:24] #59 closed

[2018-03-19 19:06] nguyenLisa commented on #66
The "Download Hermes Results" button (https://abm.cs.upb.de/abm/index.html#/view/c07f9a2d-cf33-4c74-b415-c127ae85632b) links to the rest API downloadHermes (https://github.com/ABenchM/abm/blob/master/bnd-workspace/de.fraunhofer.abm.app/src/de/fraunhofer/abm/app/download/HermesHttpContext.java#L37)
Does that help?

[2018-03-19 20:16] SwapnilShahGit opened #78 "Corners for the side tabs are reversed on Edit Collection Page"

[2018-03-20 02:34] SwapnilShahGit commented on #29
This implementation is not included in the new skeleton, removing issue.

[2018-03-20 02:34] #29 closed

[2018-03-22 23:39] ankur-1989 commented on #13
As part of this ticket following are steps have been taken -
1. Created abm as a service on the abm server  - easy to start and stop.
2. Build has been scheduled for every midnight which will run the build between 12 am to 3 am everyday.

Updating the developer manual.

[2018-03-23 00:12] ankur-1989 opened #79 "New bug has been introduced after changes in front end modal window of Build."
It does not show the correct status of the build.
Steps to reproduce the issue:-
1. Create a collection and start building the collection using button build this version.
2. Modal window will open and will show the status of the process.
3. It will keep running at a particular step feels like it is stuck but when you close the modal window and come back again it shows the actual status of the proc

[2018-03-23 00:24] nguyenLisa commented on #79
Which commit introduced the bug?

[2018-03-23 00:44] ankur-1989 commented on #79
I can not comment about the commit but after shifting the modal window from left to right only problem has started.

[2018-03-23 00:56] nguyenLisa commented on #79
Those are the two commits that modified the direction of the modal window: 4c14fa942f712ea9bc33e2d01a32098691236770 and 7729a0c782e20e919475f861c0459f4799d5f195
From a first glance, I don't see what in those commits would cause the issue. Could you look into it?

[2018-03-23 00:59] ankur-1989 commented on #79
ok I will check.

[2018-03-23 01:00] ankur-1989 commented on #13
Can we close this ticket now ? we just checked automatic schedule is working fine now.

[2018-03-23 01:05] #78 closed

[2018-03-23 01:34] hariharansrc commented on #13
@nguyenLisa Can we mention the file paths used for configuration in the Developer Manual? I am not sure whether to mention the actual server paths.

[2018-03-23 04:09] #75 closed

[2018-03-23 04:26] SwapnilShahGit commented on #54
![image](https://user-images.githubusercontent.com/11033960/37811460-c41e9526-2e30-11e8-839e-c6562b23f556.png)

Uploading updated skeleton page for reference.

[2018-03-23 08:41] nguyenLisa commented on #13
To be on the safe side, replace the paths by dummy paths (e.g. /path/to/config/file.bnd) in the Developer Manual.

[2018-03-23 14:20] tylerpav commented on #65
Make Public button displays this text in the console and does nothing (used existing code):
11:18:40.682 [qtp1831882653-59] DEBUG d.f.a.a.websocket.BuildStatusSocket - Looking for build c6c64696-53b9-4305-b9c2-4692c52dbed2
11:18:40.689 [qtp1831882653-59] DEBUG d.f.a.a.websocket.BuildStatusSocket - Looking for build 3d359934-2520-4eac-be6b-a09bd1a1e2c1

[2018-03-23 14:47] #57 closed

[2018-03-23 15:16] SwapnilShahGit opened #81 "Save Changes button should keep you on the same page"

[2018-03-23 15:34] SwapnilShahGit commented on #67
update a create slide bar for version build information

[2018-03-23 17:05] #81 closed

[2018-03-23 17:06] SwapnilShahGit opened #82 "Add capability to name versions in Collections"

[2018-03-23 17:07] SwapnilShahGit opened #83 "Add capability to query the latest successfully built version"
The user should be able to tell which version of his private collections was the last one that was successfully built. Before this feature can be implemented in the frontend, backend support is needed.

[2018-03-23 17:07] SwapnilShahGit commented on #56
Closing this issue as the relevant changes have been made and the rest are enhancements for the future that are not in the scope of the UCOSP course.

[2018-03-23 17:07] #56 closed

[2018-03-23 18:06] SwapnilShahGit commented on #66
The old implementation maps to another controller, "viewController". We need to replace the ng-click to vc.downloadHermes(cc.version.id).

[2018-03-23 20:57] #65 closed

[2018-03-23 21:31] nguyenLisa commented on #56
Ok for closing this issue, but please open new ones with the remaining todos for the future.

[2018-03-23 23:28] ankur-1989 commented on #16
Gradle and ANT builder implementation have been deployed on production after testing. Ready for testing in production.

Updating the docker information for ANT on developer manual. For Gradle, it has been updated already.

[2018-03-23 23:32] ankur-1989 commented on #16
Updated the developer manual for ant builder docker set up also.

[2018-03-24 17:42] SwapnilShahGit commented on #66
It seemed messy to use another controller inside the "editcollection.htm" file, so I created a new method in "collectionController" that customizes the download collection for private repositories. However, I am having issues with the API. I have attached screenshots for reference below.
![image](https://user-images.githubusercontent.com/11033960/37867028-16d7b782-2f69-11e8-9e30-60bc4cdd586c.png)

[2018-03-24 17:48] bhermann commented on #66
It seems like the API call is missing authentication. A private collection should only be visible to the appropriate authenticated user. As API calls are stateless you would need to provide valid authentication.

[2018-03-24 18:10] bhermann commented on #66
You should also see more details in the server log.

[2018-03-25 18:15] SwapnilShahGit commented on #66
I seem to be getting a different error without changing anything, are there any suggestions for this?
![image](https://user-images.githubusercontent.com/11033960/37878409-f9737c70-3036-11e8-84ae-154fc1f55b99.png)

[2018-03-25 18:25] nguyenLisa commented on #66
Could you write down the steps to reproduce your error from the code in the master branch?

[2018-03-27 13:35] nguyenLisa commented on #16
Please also update the installation scripts.

[2018-03-27 13:49] #13 closed

[2018-03-30 20:17] SwapnilShahGit commented on #54
" Add/Remove Filters Column" will be done in #68, closing.

[2018-03-30 20:17] #54 closed

[2018-03-30 20:18] SwapnilShahGit commented on #61
this has been finished, closing.

[2018-03-30 20:18] #61 closed

[2018-03-30 21:46] SwapnilShahGit commented on #66
As an update here, I am in talks with Ankur to resolve this issue.

[2018-03-31 17:59] ankur-1989 commented on #66
I tried to reproduce the issue using feat/54 branch, but I did not get the issue. It was working fine for me.I did not see the buttons to build the collections so that I would have tested for new collections.

[2018-04-01 04:02] SwapnilShahGit commented on #66
The cause of this issue was found and fixed. Closing!

[2018-04-01 04:02] #66 closed

[2018-04-01 09:45] nguyenLisa commented on #66
By curiosity, what was it?

[2018-04-01 19:37] SwapnilShahGit commented on #66
The current feat/54 branch does not have a Hermes build running and therefore could not download the results. The code for download results is properly implemented but could not find the results as there are none (logical overlooked from my behalf).

[2018-04-02 19:45] tylerpav opened #85 "Add a column in the "My collections" table that contains a button "Make public" if the collection is private, and a "Pin collections" if the collection is public"
Part 3 of Issue #36 that was out of scope for UCOSP

[2018-04-02 19:45] tylerpav commented on #36
closing issue and made new issue #85 for part 3

[2018-04-02 19:45] #36 closed

[2018-04-02 19:51] tylerpav commented on #59
After a meeting was discussed that should redirect you back to homepage, added that code.

[2018-04-03 04:00] alexli123 commented on #60
Initial implementation of this has been pushed into feat/54 branch. Refer to the list above for the outstanding items that need to be finished. Overall, the flow of the model should reflect the following:

1. Search for filters you may want to add
2. Select filters that you want to add
3. Click "Create Version" to build a new version and run the hermes filters on that version.

[2018-04-04 11:15] nguyenLisa opened #87 "Replace the title on the top right of the page by the ABM logo."
Also make the logo clickable. It should link back to the home page.
And replace the tab icon by the ABM logo as well.

[2018-04-04 11:16] nguyenLisa opened #88 "Update the list of contributors to add the UCOSP students"
Swapnil Shah
Alexander Li
Tyler Pavlovic

[2018-04-10 11:34] johannesduesing opened #89 "Add a search bar to the "Select a commit"-Frame in the "Edit Collection"-Webpage"
Add a search functionality to look for certain commit IDs, dates or commit-messages would make selecting a commit easier.

[2018-04-14 19:08] Chinmay-92 opened #90 "Add a functionality of modifying project name and description after selecting from repositories."
After selecting a project from repositories, we can add a functionality / capability of changing name and/or description of the project.
This will help user to assign convenient / own custom project name and description.

[2018-04-15 11:06] 24santoshr opened #91 "Replacing Select/Deselect keywords with Checkboxes"

[2018-04-15 17:28] mac24079 opened #92 "Add headers to the Projects selected table in create collection UI"
Add Headers to the "Projects selected" table that list all the Projects and other details.

[2018-04-15 17:56] janniclas opened #93 "Fix Responsive Layout"
When reducing the window size the layout is displayed incorrectly as seen in the following picture.

![image](https://user-images.githubusercontent.com/8062521/38781513-cf8b7492-40e6-11e8-8fdd-dbe52a61d156.png)

[2018-04-15 18:00] nguyenLisa commented on #92
Could you separate this issue into multiple ones for different features?
Also, please check whether or not some features have already been entered in the issue tracker before. For example, #91 for your third point.

[2018-04-15 18:01] nguyenLisa commented on #92
Could you separate this issue into multiple ones for different features?
Also, please check whether or not some features have already been entered in the issue tracker before. For example, #91 for your third point.
And finally, please label the issues you are reporting.

[2018-04-15 18:03] nguyenLisa commented on #93
This was wanted (#8). If you see an improvement to make, please re-open that bug. Thanks!

[2018-04-15 18:09] janniclas commented on #93
I was not talking about the Title moving into the second line, but the header overlapping with the content.
This is the view when the content view is scrolled completely to the top, but still half the text is cut off. I believe this is a different issue than the one described in https://github.com/ABenchM/abm/issues/8, or am I mistaken?

[2018-04-15 18:16] nguyenLisa commented on #93
I see. That's indeed a different issue. My bad.

[2018-04-15 20:03] mac24079 opened #94 "Wrap text in the table "Projects selected" table in create collection UI"
Remove Horizontal Scroll to make it more readable (Wrap the text). At present if the description for the project is too big, user has to scroll a long way to view afterward details.

[2018-04-15 20:08] mac24079 opened #95 "Move action column (check-boxes) to the left of create collection UI"
Move action column (checkbox etc.) to the left of the table for easy accessibility.

[2018-04-15 20:15] mac24079 opened #96 "Adding a centralized button for adding/removing Projects in the create collection UI"
Adding/Removing of projects to a collection can be done directly with checkbox collection and centralized button. If the user wants to delete all he/she can select the centralized button and if wants to delete only selected projects can select as per their requirement.

[2018-04-15 20:17] mac24079 commented on #92
Done.

[2018-04-15 20:34] mac24079 opened #97 "Fresh page with empty details in Columns: Name and description when creating new collection"
Presently if a user creates a collection for the first time and gives name and description to their column, it"s fine but when the user creates a new collection again in the same session; the details of the last created collection appears in the name and description column in UI.

[2018-04-15 20:58] nguyenLisa commented on #96
Closing: doublet of #91.

[2018-04-15 20:58] #96 closed

[2018-04-15 20:59] nguyenLisa commented on #95
Why would it be more accessible on the left compared to the right?

[2018-04-15 21:00] nguyenLisa commented on #92
Thanks. Closing.

[2018-04-15 21:00] #92 closed

[2018-04-15 21:52] mac24079 commented on #95
As per user it will look more aesthetic and as the UI is more aesthetic user is more willing to look forward.(It's just my opinion). Also, if the action columns appear on the left a user can easily select just after reading the name and description(even if it is long) of the project.
May be we can discuss this in the meeting.

[2018-04-15 21:59] mac24079 commented on #92
Should we re-open this as instead of deleting this whole issue, I removed the other issues to new one, containing this to be a single issue. Or may be I can create a new issue for this ticket. #Add headers to the Projects selected table in create collection UI.
What you suggests as this issue 91 was also referred in comments of #91 ?

[2018-04-15 22:15] nguyenLisa commented on #92
Please make that its own issue. In the future, please avoid modifying the issue descriptions for tracking purposes.

[2018-04-15 22:40] 24santoshr opened #98 "Display proper message after deleting a Collection"
After deleting a Collection or its new version no change happens on page. Displaying proper message after deletion may avoid confusion for the user.

[2018-04-16 17:42] mac24079 commented on #92
OK.

[2018-04-16 17:47] mac24079 opened #99 "Add headers to the "Projects selected" table in create collection UI"
The table doesn't contains any header columns which should be added to the table displaying the Projects and other details in create collection UI.

[2018-04-16 21:02] Ayybeeshafi opened #100 "No promt while trying to perform uninstall action"
While trying to uninstall the the projects there is no promt.
There should be an option to uninstall multiple projects in one go.
Checkbox along each project to perform a specific action on number of projects.

[2018-04-16 21:19] #100 closed

[2018-04-18 14:45] johannesduesing opened #101 "Add a page number on the "Select a commit"-Frame in the "Create Collection" page"
By now, there are 'Previous' and 'Next'-Page Buttons on the "Select a commit"-Frame, but no indication of the current page number or the overall number of pages. Even the 'Previous' Button is enabled when the User is on the first page. See Screenshot below.

![screenshot_issue_no_page_number](https://user-images.githubusercontent.com/37844219/38938584-236a0ce0-4326-11e8-84e6-6d3bd9399ae7.png)

[2018-04-19 16:47] Minal0110 opened #102 "Date And time caputred incorrectly"
Date time shown while creating collection is 3:30 pm while it was actually created at 6:30 pm

[2018-04-19 17:00] anut347 opened #103 "Second Collection also shows list of First collection items"
Search for java projects, and select 2 of them and create a new collection. Now search for android projects and select 3 of them and create another collection. Now we see that even the previous java projects which were added for the first collection are added in the second collection.(in total 5 projects in the second collection).

[2018-04-22 11:23] 24santoshr opened #104 ""No results found" message displayed in "Collections" page before search is performed."
The message "No results found" is displayed even when there has been no "Search" action performed by the User in Collections page.

[2018-04-22 12:53] Minal0110 opened #105 "clickable disabled button : "Add this project to collection""
"Add this project to collection"  button next to select all is shown as disabled but when we click on it will navigates to another page (it is clickable).

[2018-04-22 13:44] vishaljcj opened #106 "Newly created version for a collection displayed incorrectly"
While deriving a new version for a collection from the current version, the new version is always shown as ‘Derived from version 1: Initial Version ‘, irrespective of the current version. This issue occurs when we derive newer versions while staying on the same page.

Once we navigate to some other page, say the homepage,  and come back to this page, the option to create a newer version is shown a

[2018-04-22 15:45] paulmreese commented on #105
I'd be interested in taking this on!

[2018-04-22 16:01] nguyenLisa commented on #105
@paulmreese Sure, feel free to submit a pull request. Thanks for your help!

[2018-04-23 08:59] janniclas opened #107 "Unable to select HEAD commit after changing it"
Issue:
After changing the commit in an existing collection it can't be switched back to the HEAD, which is pretty confusing in my opinion since I am not sure which HEAD was initially referenced and I am not sure how to revert the change in commits if I can't select the HEAD again.

Expected behaviour:
I would expect an entry in the (tag) list of the commits with the label HEAD.

Steps to reproduce

[2018-04-23 12:15] TalalE opened #108 "Duplicated program in one collection."
Adding programs to an collection did not check if the program is already exists in that Collection or not. So the program could be duplicated in one collection.

[2018-04-23 19:11] nguyenLisa commented on #108
You can have twice the same project in a collection. Just make sure that the commit IDs are different as well.

[2018-04-24 15:21] johannesduesing opened #109 "Inconsistent behaviour of 'Pin'/'Unpin'-Buttons on the 'Public Collections' page"
Adding a public collection to the users pinned collections adds an entry with that collection containing a button 'Unpin' to the 'Pinned Collections'-Tab. When searching for the same collection again afterwards, it will show up as search result containing the button 'Pin', not 'Unpin'. Clicking the button 'Pin' (while the collection already is pinned) will yield a message 'Failed with [500] server

[2018-05-01 13:40] anut347 opened #110 "Public Collection can be opened in edit mode if it is created by the same user who has logged in"
Public Collection can be opened in edit mode if it is created by the same user who has logged in. currently Public collections are opened in View Mode.

[2018-05-01 13:45] anut347 opened #111 "Login screen shouldn't be shown if a user has logged in once. Instead it has to be redirected to the default landing page"
Once a user login to ABM application and opens "http://localhost:8080/de.fraunhofer.abm/index.html#/login" in another tab, login screen is shown. But if he clicks on "collections" link in that screen, It takes the user to his/her collections page.

[2018-05-01 14:12] nguyenLisa commented on #110
Thanks for reporting that issue. In the future, we want to make a version public/private, not an entire collection.

[2018-05-04 16:54] Minal0110 opened #113 "Required field icons (Asterisk) are missing in create new collection tab/page"
Scenarios & steps to reproduce:
a. When user clicks on "create collection" button, two fields are displayed without showing which fields are mandatory.
b. If user enters data only in name field and tries to click on save button, the user can observe that button is disabled.
c. relevant required field information is not provided and user is hence unaware of the fact that description field is also m

[2018-05-04 20:58] #87 closed

[2018-05-05 12:40] vishaljcj opened #114 "Unpinning a collection doesn't make the collection displayed until the page is refreshed."
Unpinning a collection from the pinned collections removes it from there, but the same collection is not shown in the public collections until the page is reloaded again.

[2018-05-05 13:58] #94 closed

[2018-05-05 14:31] #35 closed

[2018-05-07 07:55] anitha181992 opened #120 "For "Select a Collection" , the drop down is too small"
<img width="960" alt="issue abm" src="https://user-images.githubusercontent.com/38462497/39737492-b38c6782-5285-11e8-8d22-0b2dcea336b5.png">
When selected a project, and add it to a project.
The drop down displaying the projects is very minute to be visible for the user.
Since it's an evident feature, its better to have a selection table similar to other tables and  make the selection.

[2018-05-07 10:58] bhermann commented on #120
Just to clarify: In your first sentence... Do you mean "add it to a collection"?
Could you also attach a screenshot of the part of the UI. Thanks! 👍

[2018-05-07 15:12] ishwaryaPaderborn opened #124 "'Deselect all' button for 'Create collections'"
'Deselect all' button for 'Create collections' has to be disabled if no projects are selected.

[2018-05-08 04:07] anitha181992 opened #126 ""When clicked on "Create Collection", the values in the text box are not refreshed"
When clicked on "Create new collection", The text in name and description are populated with the older values, they are not refreshed

[2018-05-08 05:45] nguyenLisa commented on #126
This is a wanted behaviour. The user might need to go back and forth between the selection screen and the create collection screen.

[2018-05-08 05:45] #126 closed

[2018-05-08 05:46] nguyenLisa commented on #120
We should keep a drop down. Tables take too much space with unneeded information. I agree that the drop down should be bigger though.

[2018-05-08 11:43] mac24079 opened #127 "Add Bitbucket crawler to the User Interface"
Whenever a search is made while adding Projects for creating a new collection, the Project source is always Github, even tough the actual source is Bitbucket or maven.
![issue_reference](https://user-images.githubusercontent.com/23357897/39755053-a9b51d78-52c4-11e8-9807-fe1aa7594445.png)

[2018-05-10 21:10] Ayybeeshafi opened #131 "Clicking on any project should open its source repository in another tab."
While selecting projects for creation of a collection, user should be able to open the project on its source repository (e.g Github) to get a better insight of each project. It will help user to make a decision if he/she wants to add that specific project in his/her collection.
![issue](https://user-images.githubusercontent.com/34144308/39894456-3489a0f2-54a7-11e8-8e42-513edec7fdc3.jpeg)

[2018-05-11 16:19] bhermann opened #134 "Set up automated code formatting"
Set up automated code formatting for the project.
Probably, it's a good choice to go for Checkstyle.
However, it also has to work inside the IDE too.

[2018-05-12 20:11] ankur-1989 commented on #16
Is anything pending on this issue?  Shall I close this as it was implemented in production already?

[2018-05-12 20:44] nguyenLisa commented on #16
Sure, it can be closed once tests are written for the crawlers. Thanks!

[2018-05-13 13:35] vishaljcj opened #139 "Copy collection function not working correctly"
Copying a collection by selecting only a certain number of projects within that collection, copies the all the projects into the new collection irrespective of the specific projects selected.

[2018-05-13 14:21] Chinmay-92 opened #141 "Cancel Build button click is not working"
No action or appropriate message is shown after clicking "Cancel build" button of test collection build screen.

Steps to reproduce:
1. create a collection with any project repositories.
2. click build button
3. if test build fails, you can see test collection at float right location of window.
4. if we open test build window and click "cancel build" button then nothing happens. i.e. no appropriat

[2018-05-13 19:29] nguyenLisa commented on #141
This seems to be a duplicate of closed issue #21 . Could you verify if this is indeed the same bug? In that case, please close this one and re-open #21 .

[2018-05-14 10:55] anut347 opened #144 "Forgot/Reset Password Option can be added as an enhancement"
Functionality to handle 'Forgot password' by either asking security questions or sending a reset password link can be taken up as an enhancement.

[2018-05-14 11:02] anut347 commented on #144
Functionality to handle 'Forgot/Reset password' by either asking security questions or sending a reset password link can be taken up as an enhancement.

[2018-05-14 15:03] Naveenkumar27 opened #147 "Implement "Delete" button in "Public Collections""
Public collections cannot be deleted as there is no delete option. So, "Delete" button should be implemented in every public collection.

[2018-05-14 15:54] nguyenLisa commented on #147
Public collections should never be deleted. They are there forever.

[2018-05-14 15:54] #147 closed

[2018-05-14 17:49] 24santoshr opened #148 "Collection name displayed even after deleting the collection in 'Select a Collection' list in 'addtocollection' page"
The Collection name is displayed in 'add to collection' page under 'Select a Collection' list even though it has been deleted.

Steps to reproduce:-

i) Create a new Collection.
ii) Delete that Collection.
iii) Search for a project repository in 'search' page. Select any project.
iv) Click on 'Add this project to a collection'/'Add all selected projects to a collection' button.
 v) The deleted col

[2018-05-14 17:58] nguyenLisa commented on #148
Where has it been deleted? Can you link to the corresponding commit?

[2018-05-14 18:14] 24santoshr commented on #148
![java_1](https://user-images.githubusercontent.com/32432999/40015115-9fbd0036-57b2-11e8-9a88-ee36e5c079fc.png)
![java_2](https://user-images.githubusercontent.com/32432999/40015116-9fe1cdc6-57b2-11e8-8dff-9ccd6fd75c6b.png)
![java_3](https://user-images.githubusercontent.com/32432999/40015117-9ffed7ae-57b2-11e8-816d-755886bc61f4.png)
![java_4](https://user-images.githubusercontent.com/32432999/400

[2018-05-14 23:23] #141 closed, assigned to nobody

[2018-05-19 10:30] johannesduesing commented on #114
I'm guessing this has similar reasons as issue #109 .

[2018-05-21 09:39] janniclas commented on #131
moved to new abm-frontend repository: https://github.com/ABenchM/abm-frontend/issues/9

[2018-05-21 09:39] #131 closed

[2018-05-21 09:40] vishaljcj commented on #114
Closing the issue as it is similar to #109

[2018-05-21 09:40] #114 closed

[2018-05-21 09:50] janniclas commented on #4
Is this still relevant and which form are you referring to?
This needs further clarification before it can be moved to the new abm-frontend repository.

[2018-05-21 09:52] janniclas commented on #9
according to this pull request https://github.com/ABenchM/abm/pull/149 this issue should be fixed and therefore closed. Please reopen if it still exists.

[2018-05-21 09:52] #9 closed

[2018-05-21 11:54] johannesduesing commented on #101
This issue has been moved to the new abm-frontend repository at https://github.com/ABenchM/abm-frontend/issues/13

[2018-05-21 11:55] johannesduesing commented on #114
This issue has been moved to the new abm-frontend repository at https://github.com/ABenchM/abm-frontend/issues/12

[2018-05-21 11:56] johannesduesing commented on #109
This issue has been moved to the new abm-frontend repository at https://github.com/ABenchM/abm-frontend/issues/12

[2018-05-21 12:03] johannesduesing commented on #89
This issue has been moved to the new abm-frontend repository at https://github.com/ABenchM/abm-frontend/issues/14

[2018-05-21 12:30] johannesduesing commented on #144
This issue has been moved to the new abm-frontend repository at https://github.com/ABenchM/abm-frontend/issues/15

[2018-05-21 12:43] johannesduesing commented on #76
This issue has been moved to the new abm-frontend repository at https://github.com/ABenchM/abm-frontend/issues/17

[2018-05-21 13:03] johannesduesing commented on #37
This issue has been moved to the new abm-frontend repository at https://github.com/ABenchM/abm-frontend/issues/18

[2018-05-21 13:06] johannesduesing commented on #49
This issue has been moved to the new abm-frontend repository at https://github.com/ABenchM/abm-frontend/issues/9

[2018-05-21 13:56] ishwaryaPaderborn commented on #111
This issue has been opened in the ABM 2.0 as a new issue #20

[2018-05-21 13:58] johannesduesing commented on #90
This issue has been moved to the new abm-frontend repository at https://github.com/ABenchM/abm-frontend/issues/21

[2018-05-21 14:05] johannesduesing commented on #93
This issue has been moved to the new abm-frontend repository at https://github.com/ABenchM/abm-frontend/issues/22

[2018-05-21 14:19] johannesduesing commented on #95
This issue has been moved to the new abm-frontend repository at https://github.com/ABenchM/abm-frontend/issues/23

[2018-05-21 14:29] johannesduesing commented on #97
This issue has been moved to the new abm-frontend repository at https://github.com/ABenchM/abm-frontend/issues/24

[2018-05-21 14:35] johannesduesing commented on #99
This issue has been moved to the new abm-frontend repository at https://github.com/ABenchM/abm-frontend/issues/25

[2018-05-21 14:37] johannesduesing commented on #102
Can you give us the steps that will reproduce this bug ?

[2018-05-21 14:37] anitha181992 commented on #120
[https://github.com/ABenchM/abm-frontend/issues/26](url)
Creating it in the abm-frontend , hence closing this issue

[2018-05-21 14:37] #120 closed

[2018-05-21 14:41] johannesduesing commented on #103
I could not reproduce this bug. I'm assuming you might have forgotten to remove the java projects from the list of selected projects when creating the android collection. By default, the projects added in the last collection will stay in the list of selected projects for the next creation. I think this is intended behavior.

[2018-05-21 15:26] 24santoshr commented on #148
moved to new abm-frontend repository: ABenchM/abm-frontend#27

[2018-05-21 15:26] #148 closed

[2018-05-21 15:29] 24santoshr commented on #104
moved to new abm-frontend repository: ABenchM/abm-frontend#28

[2018-05-21 15:29] #104 closed

[2018-05-21 16:15] Minal0110 commented on #102
Scenarios & steps to reproduce:
a. Selected 2 jdk projects and clicked on create collection.
b. created jdkcollection at 18:14 on 21st of May 2018 but time shown is 4:12 PM.
Please find attached screen shot of the same.
![java collection](https://user-images.githubusercontent.com/37415168/40317794-cf4021a6-5d22-11e8-8a19-0ddb948df652.png)

[2018-05-21 16:21] Minal0110 commented on #102
Steps to reproduce:

1. Selected 2 java projects for creating a collection.
2. Created Java collection at 18:12 on 21st 0f May 2018 but time reflected is 4:12 PM which is incorrect.
Please find attached screen shot for same.
![java collection captured with incorrect time of creation](https://user-images.githubusercontent.com/37415168/40318078-bd61cba0-5d23-11e8-9e47-378d45c6ae2f.png)

[2018-05-21 17:21] mac24079 commented on #99
Fixed [94becbd523da7c64d6072acd47314163b20f0ad1](url)

[2018-05-21 17:21] #99 closed

[2018-05-21 18:05] #144 closed

[2018-05-21 18:05] #109 closed

[2018-05-21 18:06] #101 closed

[2018-05-21 18:07] #97 closed

[2018-05-21 18:07] #95 closed

[2018-05-21 18:07] #93 closed

[2018-05-21 18:08] #89 closed

[2018-05-21 18:08] #85 closed

[2018-05-21 18:10] johannesduesing commented on #88
I am closing this issue, as it seems to be solved.

[2018-05-21 18:10] #88 closed

[2018-05-21 18:10] #76 closed

[2018-05-21 18:11] #37 closed

[2018-05-21 18:15] johannesduesing commented on #127
Are you sure this is a real bug ? Because i think what is displayed there are projects working for / with bitbucket, but they are actually hosted on github, so the source would be correct.

[2018-05-21 18:18] johannesduesing commented on #124
This issue has been moved to the new abm-frontend repository at https://github.com/ABenchM/abm-frontend/issues/29

[2018-05-21 18:18] #124 closed

[2018-05-21 18:27] johannesduesing commented on #105
This issue has been moved to the new abm-frontend repository at https://github.com/ABenchM/abm-frontend/issues/31

[2018-05-21 18:27] #105 closed

[2018-05-21 18:34] 24santoshr commented on #111
Closing this issue since it has been opened in the new abm/frontend repository.

[2018-05-21 18:34] #111 closed

[2018-05-21 19:21] #4 closed, assigned to nobody

[2018-05-22 10:29] #113 closed

[2018-05-22 10:50] nguyenLisa commented on #49
Closing because it was moved.

[2018-05-22 10:50] #49 closed

[2018-05-28 15:41] johannesduesing opened #150 "Deleting a collection via REST yields NullpointerException"
During the creation of UnitTests which involved the building of versions i noticed that the invocation of DELETE on 'rest/collection/<id>' resulted in a Nullpointer Exception for collections that actually contained built versions. The problem was caused by line 143 in de.fraunhofer.abm.app.controllers.CollectionController.deleteCollection. In this line the Hermes-Results are being deleted.

![null

[2018-05-28 19:30] mac24079 commented on #127
Yes , I checked that collections are not coming from BitBucket source. It is  only coming from GitHub. I have checked that code for BitBucket Crawler is there but the calling for the BitBucketCrawler is missing.

[2018-06-03 16:49] mac24079 opened #152 "Add crawler for Maven repository"
In the about page of the ABM application, it is written that the abm application supports three open-source platforms. But presently, there is no crawler for collecting projects from the Maven repository.

[2018-06-03 17:18] mac24079 commented on #152
The format of the projects on Maven repository found to be different as from Bitbucket and Github platforms.

[2018-06-04 21:00] nguyenLisa opened #154 "Fix issues reported by checkstyle"

[2018-06-05 07:46] ankur-1989 commented on #152
Yes, it is quite different from them. But you can refer the following link to understand the structure of maven repository.
https://search.maven.org/#api
So if you see here on this below link -
https://search.maven.org/#advancedsearch%7Cgav
you can search maven repository by multiple options such as -
GroupID
ArtifactID
Version Packaging
Classname
ShA1-checksum
You can find the search URLs for eac

[2018-06-05 11:06] mac24079 commented on #152
@ankur-1989
Looks good, thanks for the info.
I discussed this with @nguyenLisa and get to know someone has worked before on similar like this. Are there any implementations being done before for this issue, that I can consider or do I need to take this issue and start from scratch?

[2018-06-05 14:49] ankur-1989 commented on #152
I don't think if somebody has worked for this in ABM. I had started it but could not find useful information so left in between. so you can start from there and let me know if you need any help.

[2018-06-05 15:23] nguyenLisa commented on #152
My bad, I confused this with the work Adrian did for Bitbucket last year for an instant. Apologies for the confusion.

[2018-06-06 15:15] Delors opened #155 "Can't do anything interesting when I log in using my google account"
I wanted to create some collection, but I didn't find any option to do so (Safari and Firefox).

[2018-06-06 20:58] nguyenLisa commented on #155
Note: when using the login with Gmail.

[2018-06-07 16:31] ankur-1989 commented on #155
checking. @Delors Are you able to log in to abm application through google account as I am not even able to login thru my google account.

[2018-06-07 16:38] ankur-1989 commented on #155
Now it is working for me. @Delors Could you please try at your end?

[2018-06-10 21:37] mac24079 commented on #127
Issue fixed and pull request merged.

[2018-06-10 21:37] #127 closed

[2018-06-12 19:14] mac24079 commented on #152
@nguyenLisa
I read the links provided above but didn't found much information and it's a bit time consuming, will look into this may be in the coding phase of the project group.

[2018-06-12 21:16] nguyenLisa commented on #155
After discussion with @Delors , now working. Closing the issue.

[2018-06-12 21:16] #155 closed

[2018-06-12 21:17] nguyenLisa commented on #152
Sure, that works too.

[2018-06-15 20:15] mac24079 commented on #102
I looked into the issue and this issue is related to a database table "Collection". Column creation_date has datatype "Date" which should be "DateTime" to capture the correct time. We will have to change in database table collection.

[2018-06-15 20:31] mac24079 commented on #102
@nguyenLisa @ankur-1989
Please let me know where do I need to update to reflect the change everywhere as I have updated my local database. It is working fine now.

[2018-06-15 21:15] nguyenLisa commented on #102
Yes please. Don't forget to update the installation scripts to reflect the changes.

[2018-06-15 21:33] ankur-1989 commented on #102
@mac24079 please update abm.sql. I will update the production.

[2018-06-15 22:38] mac24079 commented on #102
I have updated the abm.sql and generated the pull request #157

[2018-06-16 08:43] mac24079 commented on #53
Resolved with merge #158

[2018-06-16 08:43] #53 closed

[2018-06-16 11:05] #102 closed

[2018-06-16 11:13] ankur-1989 commented on #150
@johannesduesing
when are you getting this error?

So When I follow the below steps -
1. Create a collection and then delete the collection - no error found
2. Create a collection followed by building a collection and then delete the build version - no error found.
3. Create a collection followed by building a collection and then unfreeze the collection and then delete the collection - no error fo

[2018-06-16 14:04] johannesduesing commented on #150
For me this happens when executing the following steps:
1. Create a new collection (I needed a sample program that successfully compiles for testing, used this: https://github.com/jenkins-docs/simple-java-maven-app\)
2. Build that collection and wait for the build to succeed
3. Execute GetLatestSuccessfullyBuiltVersion on that collection (that is what i was testing)
4. Delete that collection

I fi

[2018-06-16 16:10] ankur-1989 opened #159 "Add New Column Built_Status in Collections table under My Collections"
As of now, we see four attributes of collections as below -
![image](https://user-images.githubusercontent.com/24721077/41500359-16446cd4-7190-11e8-8ce8-8b994cd3cc23.png)

I believe that Id should not be displayed to the user as It is not that helpful information, It should be in the backend to access the collections. Instead, we should display the built status of that particular collection which

[2018-06-17 19:03] johannesduesing commented on #83
Closed with #153 .

[2018-06-17 19:03] #83 closed

[2018-06-17 19:08] johannesduesing commented on #150
I added that function, which was request in #83, in PR #153. The function is implemented here:
https://github.com/ABenchM/abm/blob/ae0c1cc23efb456eadb42fe74ac31455b89e8dff/bnd-workspace/de.fraunhofer.abm.app/src/de/fraunhofer/abm/app/controllers/CollectionController.java#L154-L188

[2018-06-21 14:55] Chinmay-92 commented on #69
Hi could you please provide description on this?
Also, if this is frontend issue / backend.

[2018-06-21 20:29] nguyenLisa commented on #69
Hi, @SwapnilShahGit has left the project since April. Him and his team had come up with new visuals for a Collection (https://github.com/ABenchM/abm/blob/master/docs/UCOSP.bmpr). He suggested in this issue to make the rest of the website well integrated with those visuals.
@Chinmay-92 , could you please move this issue in the frontend repository and document it? Thanks!

[2018-06-21 20:32] SwapnilShahGit commented on #69
Hi, if there are any questions about this, I am happy to answer.

[2018-06-21 20:53] nguyenLisa commented on #69
Great, thanks Swapnil! @Chinmay-92 and his group will be in contact with you for any questions.

[2018-06-22 10:08] nguyenLisa opened #160 "Disable Google login"
For the moment, let's disable the Google login capabilities. On the frontend as well (both the new one and the one currently running in prod).

[2018-06-22 10:29] nguyenLisa commented on #160
Thanks!

[2018-06-22 10:48] nguyenLisa commented on #160
Did you do that in the new frontend as well? And make sure that the backend functionality cannot be triggered with a request to the server?

[2018-06-22 14:40] ankur-1989 commented on #160
Yes, done in the new front end as well.

[2018-06-22 17:40] #160 closed

[2018-06-30 12:21] ankur-1989 commented on #159
Implementation is done. Pushing the change to develop branch. open for testing.

[2018-07-01 13:10] ankur-1989 commented on #159
it is implemented so closing this issue. can be reopened if somebody finds an issue.

[2018-07-01 13:10] #159 closed

[2018-07-01 13:12] ankur-1989 commented on #139
Copy collection feature is now in develop branch. you can start working on this issue.

[2018-07-31 16:40] Chinmay-92 opened #161 "Define and implement user profile DB schema as per proposed goal"
concrete description is to be added soon.
for now, refer the respective goal's description in design document

[2018-07-31 16:41] Chinmay-92 opened #162 "Create APIs to update user profile information"
concrete description is to be added soon.
for now, refer the respective goal's description in the design document.

[2018-07-31 16:42] Chinmay-92 opened #163 "Reset password feature implementation ( reset via email : and not through recovery questions )"
- [x] Reset Password

Steps for forgot and reset password:
1. User clicks the forgot password link.
2. In the forgot password page, system prompts the user to enter the email address he/she has registered in to the system.
3. An email which contains a link to reset the password is sent to the given email address in step above.
4. User clicks the link and he/she get redirected to a page(reset passw

[2018-08-01 11:53] Chinmay-92 opened #164 "Getting org.osgi.framework.BundleException error while building the backend project"
![osgi_error](https://user-images.githubusercontent.com/2173927/43520043-e49ccb4c-9591-11e8-85f4-98d21ba4755d.png)

Error scenario: Error occurred while running bnd.bnd after taking latest code

[error_log_build.txt](https://github.com/ABenchM/abm/files/2249301/error_log_build.txt)

[2018-08-01 11:54] Chinmay-92 commented on #164
@ankur-1989 / @nguyenLisa
I tried multiple times restarting eclipse / restarting OS but I am getting same error.

Any suggestion to fix this ?

[2018-08-01 14:08] ankur-1989 commented on #164
check the version of abm.app.auth package is it still available in maven repository or not and similarly for util package

[2018-08-01 14:36] Chinmay-92 commented on #164
Hi I resolved the issue, reinstalled abm from shell script file.
Closing the issue.

[2018-08-01 14:36] #164 closed

[2018-08-03 15:18] Chinmay-92 commented on #161
We need two fields in DB for forgot/reset password feature
1. resetToken - encoded String value
2. expiredPeriod - duration in seconds

(more details about the same feature implementation can be found at [issue163](https://github.com/ABenchM/abm/issues/163)

[2018-08-05 15:05] anitha181992 commented on #161
1)I have made the changes to the database in the branch https://github.com/ABenchM/abm/tree/anitha_patch1
2)I have even made the changes to save the email address to the database.
@Chinmay-92 : You can try to access the email address and let me know.

[2018-08-06 15:49] Chinmay-92 commented on #161
@anitha181992
I am facing some issue while testing the code inside your branch:
![error_email](https://user-images.githubusercontent.com/2173927/43726968-f70a96a2-99a0-11e8-93f8-61d2df0e6edd.png)

logs ->
javax.mail.SendFailedException: Invalid Addresses;
  nested exception is:
	com.sun.mail.smtp.SMTPAddressFailedException: 550 Unknown user: test@uni-paderborn.de

	at com.sun.mail.smtp.SMTPTranspo

[2018-08-07 10:12] Chinmay-92 commented on #161
We figured out the issue,
It was coming because of wrong email config in cnf project.

[2018-08-07 10:14] Chinmay-92 opened #165 "User profile update APIs"
Target is to finish user update API by 7Aug, EOD

[2018-08-07 10:17] Chinmay-92 opened #166 "Manage Users (Admin)"
The module will include-->manage users
-lock/unlock user account
-change user role

[2018-08-07 11:12] Chinmay-92 opened #167 "Forgot and Reset password controller"
Subtasks:
- [x]  Accept email id / username as Input
- [x]  Validate email / username
- [x]  Send reset password link to user's email id
- [x]  Onclick navigate to Reset password page ( enter new password and submit ) ( some of the frontend work is pending - TBD by frontEnd )
- [x]  Save new password in reset token's respective user row.

[2018-08-07 14:25] anitha181992 commented on #161
Merged the code changes to abmpg branch.
Hence closing the issue

[2018-08-07 14:25] #161 closed

[2018-08-07 18:36] nguyenLisa commented on #166
Only the private collections. Public collections will remain accessible to everyone.

[2018-08-07 19:25] #165 closed

[2018-08-13 18:39] anitha181992 commented on #166
Implemented the update user role for admin.
Branch name: https://github.com/ABenchM/abm/tree/anitha_usermgmt.
Still in progress

[2018-08-13 20:03] Chinmay-92 commented on #167
![password_reset](https://user-images.githubusercontent.com/2173927/44055021-70da857a-9f44-11e8-8ef2-4c755d49f19e.png)

Email for reset password with a random generated token is working
Next subtask :- creating a page to navigate after password reset link is clicked and then option to set new password and save everything in db

[2018-08-19 19:23] mac24079 opened #172 "Date And time captured incorrectly in My collections page"
At present, if one creates a collection and then looks at those collections in the My collections page the time of the collections created in the column " Creation date " is always the same i.e 12.00 A.M which should not be the case.

![image](https://user-images.githubusercontent.com/23357897/44312267-d6271280-a3f5-11e8-8692-14b32e502add.png)

[2018-08-20 07:24] Chinmay-92 opened #173 "Pending requests API (Admin)"
- [x] Admin role validation
- [ ] Approve / Reject pending requests

[2018-08-20 07:45] Chinmay-92 opened #174 "Add manage collections feature"
- [x] Admin should be able to temporarily get down any public collections.
- [x] Delete public collection.
- [x] filters to query list of collections
- [x] sort API implementation

[2018-08-20 14:02] anitha181992 commented on #173
@Chinmay-92 : I am working on this
https://github.com/ABenchM/abm/issues/166
You can remove few of the functionalities mentioned in this issue, since I have made code changes for the issue 166.

[2018-08-20 14:05] anitha181992 opened #177 "New Datamodel for reset_token and enhancements for reset controller for the issue #167"
This issue is part of https://github.com/ABenchM/abm/issues/167,

- [x] Create a JPA model for the reset_token

[2018-08-20 14:06] anitha181992 commented on #177
@Chinmay-92 : Please review the changes,
https://github.com/ABenchM/abm/commit/6a55b77563617680e78bf5d9997b58723592c299

[2018-08-20 14:13] anitha181992 commented on #177
Branch Link: https://github.com/ABenchM/abm/tree/anitha_usermgmt_new

[2018-08-25 09:36] anitha181992 commented on #177
#179

[2018-08-28 12:32] mac24079 opened #181 "Document bnd tools version needed to install abm"
This is as per said by @nguyenLisa

" Could one of you please update the documentation so that at bndtools version is documented? "

[2018-08-28 12:40] mac24079 commented on #181
Merge https://github.com/ABenchM/abm/pull/180.

[2018-08-28 14:39] mac24079 commented on #181
Merged. Hence, closing.

[2018-08-28 14:39] #181 closed

[2018-09-02 11:46] anitha181992 commented on #177
Merged into branch so closing issue

[2018-09-02 11:47] anitha181992 commented on #177
https://github.com/ABenchM/abm/pull/182

[2018-09-10 16:05] #177 closed

[2018-09-10 16:06] anitha181992 opened #183 ""Forgot password API""

[2018-09-10 16:15] anitha181992 commented on #183
Pull request :https://github.com/ABenchM/abm/pull/184

[2018-09-14 11:58] Chinmay-92 commented on #167
Closing this issue as it is finished and code changes are merged into abmpgdevelop

[2018-09-14 11:58] #167 closed

[2018-09-14 11:59] #163 closed

[2018-09-14 12:00] Chinmay-92 commented on #174
filters and sorting are handled in frontend, so no need of additional same APIs in backend for now

[2018-09-14 12:01] Chinmay-92 commented on #139
@vishaljcj  can you verify once if this issue is still there, else we can close it

[2018-09-19 15:04] anitha181992 opened #185 "Login for multiple users"
Login for "Registered User" and "User Admin"
Authorizer changes

[2018-09-19 15:06] anu347 opened #186 "Delete User details from roles table"
Delete User details from roles table

Delete user should delete all user related data from user, role, roles_properties, roles_members table.

[2018-09-19 15:12] anut347 commented on #186
https://github.com/ABenchM/abm/pull/187

[2018-09-19 15:12] anut347 commented on #185
https://github.com/ABenchM/abm/pull/187

[2018-09-26 10:31] anitha181992 commented on #166
For lock and unlock users
https://github.com/ABenchM/abm/pull/189

[2018-09-26 13:01] #186 closed

[2018-09-26 13:01] anut347 commented on #162
https://github.com/ABenchM/abm/pull/190

[2018-09-26 13:01] #162 closed

[2018-09-26 13:03] anut347 opened #191 "Delete Private collections of user when user deletes his/her account"
Delete Private collections of user when user deletes his/her account

[2018-09-26 13:04] anut347 opened #192 "Update Public collections of user when user deletes his/her account"
Update Public collection's created by field to demo user user when user deletes his/her account

[2018-09-26 13:05] anut347 opened #193 "Approve or Reject User for Admin from Pending Request Page"
Approve or Reject User for Admin from Pending Request Page

[2018-09-26 13:09] anut347 commented on #185
Changes have been merged. Pls check and close this issue.

[2018-09-26 13:11] anut347 commented on #173
https://github.com/ABenchM/abm/issues/193 created for second point. I'll take that up.

[2018-09-26 13:13] anut347 commented on #173
https://github.com/ABenchM/abm/issues/193 created for second point

[2018-09-26 13:15] anut347 opened #194 "Locked user shouldn't be allowed to login"
Check lock/unlock also when a user login and if profile is locked he/she shouldn't be allowed to login

[2018-10-01 17:47] Chinmay-92 commented on #194
Suggested approach:
Create "isAccountLocked()" method which can be used while login method / UI to handle the situation.

[2018-10-01 22:01] anut347 opened #195 "Mail to be sent to user once admin approves/rejects account"
Mail to be sent to user once admin approves/rejects account via email or via the pending approval page

[2018-10-02 06:27] nguyenLisa commented on #103
Closing.

[2018-10-02 06:27] #103 closed

[2018-10-02 06:28] nguyenLisa commented on #154
Done.

[2018-10-02 06:28] #154 closed

[2018-10-02 06:28] nguyenLisa commented on #152
Builders and crawlers will be taken over by Delphi. No need for that at the moment.

[2018-10-02 06:28] #152 closed

[2018-10-02 07:15] anitha181992 commented on #185
Closing the issue, changes pushed to abmpgdevelop

[2018-10-02 07:15] #185 closed

[2018-10-02 07:24] anitha181992 opened #196 "Activate/Deactivate public collections"

[2018-10-02 08:40] ankur-1989 commented on #40
@nguyenLisa
We are showing "Derive new version" in disabled form for public collection when nobody is logged in, but if I am logged in into the application it is enabled. Do we need to keep it disabled always for public collection?

As of now, It makes the complete collection public, we will have to make changes to make the collection public according to version.
I'll assign it to myself and will

[2018-10-02 08:51] anitha181992 commented on #166
For update role
https://github.com/ABenchM/abm/pull/197

[2018-10-02 09:02] ankur-1989 commented on #106
so whenever we landed on this page it starts from version 1, needs modifications to check the length of versions and assigned the latest version.

[2018-10-02 09:09] anut347 commented on #192
Code changes checked in to anu_user_admin_mgmt

[2018-10-02 09:09] anut347 commented on #191
Code changes checked in to anu_user_admin_mgmt

[2018-10-02 09:19] anut347 opened #198 "Delete multiple user account (for admin)"
Delete multiple user account (for admin).
This will also include handling of private and public collections of that user.

[2018-10-02 10:20] ankur-1989 commented on #106
Implemented and pushed to develop branch. Closing this issue as of now.  It can be reopened in case of any issues.

[2018-10-02 10:20] #106 closed

[2018-10-02 20:33] anitha181992 opened #200 "Database changes documentation"
New changes  to the database for "User profile module"

[2018-10-02 20:35] anitha181992 commented on #200
@Chinmay-92
@anut347
Please review the database document : https://github.com/ABenchM/abm/blob/anitha_adminmgmt/docs/Database_changes.pdf

[2018-10-02 21:09] anut347 commented on #200
I think in addition to mentioning the db changes made by us, we've to verify DB schema also and update in our wiki page. https://github.com/ABenchM/abm/wiki (DB schema). We can confirm with Lisa once.

[2018-10-02 21:11] anut347 opened #201 "approve/reject users for 'pending requests' page for admin users"
approve/reject users for 'pending requests' page for admin users

[2018-10-03 07:33] ankur-1989 commented on #79
working fine, therefore, closing the issue.

[2018-10-03 07:33] #79 closed

[2018-10-04 07:47] ankur-1989 commented on #40
In this change, we have made the following design changes in making public functionality -
1. Now onwards, Collection will always remain private.
2. We will make collection public version-wise.
3. User will not be able to edit the public version, even if the user is the owner of the collection.
4. User can see build results for public version when the user is logged in into the application.
5. On

[2018-10-04 12:35] nguyenLisa commented on #40
Thanks for taking over this.
1. Ok
2. Ok
3. Ok, but there may be multiple public versions.
4. Ok
5. Ok
6. Ok, except when you are the collection owner and you are logged in. Then, you can see all versions of the collection.

[2018-10-04 14:02] ankur-1989 commented on #40
Yes, Point number 3 and 6 have been taken care as you mentioned.

[2018-10-04 14:13] ankur-1989 commented on #40
Changes related to this issue have been implemented and pushed to develop branch of abm-frontend repository. Following technical changes have been done as part of it.

1. A new column in version table with the name privateStatus has been added.
2. privateStatus check has been shifted to version from collection in Buildcontroller.java and HermesController.java files for download functionality.
3. J

[2018-10-06 22:11] anut347 opened #203 "getAllUserDetails method for admin pages(pending approvals and manage users)"
getAllUserDetails method for admin pages(pending approvals and manage users)

[2018-10-07 12:53] Chinmay-92 opened #204 "Delete multiple public collections"
Delete public collection method should accept list of collection id from frontend

As per current implementation only 1 collection is getting deleted.

[2018-10-07 12:54] Chinmay-92 commented on #196
@anitha181992 how much work is remaining for this issue?

[2018-10-07 13:21] #172 closed, assigned to nobody

[2018-10-07 13:43] ankur-1989 commented on #108
As we know, Hermes and Build Collection will soon be part of Delphi along with the crawling of projects to make a new collection and ABM will only be managing collections. ABM will get the collection from Delphi only. After discussion with @nguyenLisa, I got to know that in Delphi, we are maintaining a separate ProjectId along with CommitId which will help in maintaining unique projects in a colle

[2018-10-09 07:31] anitha181992 commented on #196
https://github.com/ABenchM/abm/pull/208

[2018-10-09 08:05] anitha181992 commented on #166
https://github.com/ABenchM/abm/pull/209

[2018-10-10 08:40] Chinmay-92 commented on #166
PR merged hence closing the issue

[2018-10-10 08:40] #166 closed

[2018-10-10 08:40] Chinmay-92 commented on #203
PR merged hence closing the issue

[2018-10-10 08:40] #203 closed

[2018-10-10 08:41] Chinmay-92 commented on #174
checklist is completed

[2018-10-10 08:41] #174 closed

[2018-10-10 08:42] Chinmay-92 commented on #173
Pending Issue is moved to #201

[2018-10-10 08:42] #173 closed

[2018-10-10 08:45] Chinmay-92 commented on #191
merged the code hence closing the issue

[2018-10-10 08:45] #191 closed

[2018-10-10 08:45] Chinmay-92 commented on #192
merged the code hence closing the issue

[2018-10-10 08:45] #192 closed

[2018-10-10 08:48] Chinmay-92 commented on #198
merged the code hence closing the issue

[2018-10-10 08:48] #198 closed

[2018-10-10 08:49] Chinmay-92 commented on #196
merge the code hence closing the issue

[2018-10-10 08:49] #196 closed

[2018-10-10 08:56] Chinmay-92 commented on #200
@nguyenLisa could you confirm if we can use Wiki page for updated DB schema

[2018-10-10 15:52] nguyenLisa commented on #200
Please do. Feel free to open a new page on the wiki for that.

[2018-10-11 08:28] nguyenLisa commented on #200
Can you put that in the wiki please? Thanks.

[2018-10-11 08:50] anitha181992 commented on #200
@nguyenLisa : Chinmay is continuing with the task, so just for a reference I have commented it, he will be updating the wiki:-)

[2018-10-11 11:17] anitha181992 opened #212 "Email api for Approve/Reject requests"
Email api used for admin for approving and rejecting the user request for registration

[2018-10-11 11:19] anitha181992 commented on #212
https://github.com/ABenchM/abm/pull/213

[2018-10-11 12:33] anitha181992 commented on #200
Wiki page updated, so closing the issue

[2018-10-11 12:33] #200 closed

[2018-10-11 12:39] Chinmay-92 commented on #194
merged the code #214  hence closing the issue

[2018-10-11 12:39] #194 closed

[2018-10-11 12:45] anitha181992 commented on #195
Duplicate of https://github.com/ABenchM/abm/issues/212.
So closing the issue

[2018-10-11 12:45] #195 closed

[2018-10-14 14:00] anitha181992 opened #219 "Get all collections for manage collections(admin)"

[2018-10-17 16:16] Chinmay-92 commented on #204
completed in PR #222

[2018-10-17 16:16] #204 closed

[2018-10-17 20:04] anut347 commented on #212
https://github.com/ABenchM/abm/pull/223

[2018-10-17 20:05] anut347 commented on #201
https://github.com/ABenchM/abm/pull/223

[2018-10-18 13:59] #201 closed

[2018-10-18 14:00] anut347 opened #224 "changes to include role in getallsuerdetails for admin"
changes to include role in getallsuerdetails for admin

[2018-10-18 14:01] anut347 commented on #224
Pull Request : https://github.com/ABenchM/abm/pull/225

[2018-10-18 14:02] anut347 opened #226 "get user info for user profile module"
get user info for user profile module

[2018-10-18 14:02] anut347 commented on #226
Pull Request : https://github.com/ABenchM/abm/pull/225

[2018-10-18 14:15] anut347 commented on #224
merged in abmpgdevelop

[2018-10-18 14:15] #224 closed

[2018-10-18 14:15] anut347 commented on #226
merged in abmpgdevelop

[2018-10-18 14:15] #226 closed

[2018-10-18 15:15] anut347 opened #227 "Multiple approve/reject for pending approval page"
Multiple approve/reject for pending approval page as required by the front end team

[2018-10-25 09:11] anitha181992 opened #230 "Test case-Activate/Deactivate collections"
Link for the issue :https://github.com/ABenchM/abm/issues/196

[2018-10-25 10:23] anut347 opened #232 "issue with implementation of get All user details for admin page"
Json mapping error

[2018-10-25 10:34] anut347 commented on #232
https://github.com/ABenchM/abm/pull/233

[2018-10-25 12:56] Chinmay-92 opened #234 "Delphi services integration"
here is the query language from Delphi https://github.com/delphi-hub/delphi-webapi/blob/develop/src/main/scala/de/upb/cs/swt/delphi/querylanguage/Syntax.scala
( https://github.com/delphi-hub/delphi-webapi )

Tests are here if you want some examples of queries that work or not https://github.com/delphi-hub/delphi-webapi/blob/develop/src/test/scala/de/upb/cs/swt/delphi/querylanguage/SyntaxTest.scala

[2018-10-25 13:01] Chinmay-92 opened #235 "Test class DeletePublicCollectionController"
Write http test class to test DeletePublicCollectionController

[2018-10-25 13:01] Chinmay-92 commented on #235
PR is created -> https://github.com/ABenchM/abm/pull/229

[2018-10-25 13:02] Chinmay-92 opened #236 "HTTP Test class for ForgotResetPassword"
To write Test classes for Forgot and ResetPassword functionality

[2018-10-25 13:16] anut347 commented on #212
https://github.com/ABenchM/abm/pull/237
made few changes and now mail is sent. verified.

[2018-10-25 13:16] #212 closed

[2018-10-25 13:20] vishaljcj commented on #232
yeah ...it works fine now

[2018-10-25 13:20] #232 closed

[2018-10-25 21:05] anut347 commented on #227
https://github.com/ABenchM/abm/pull/238.
There is still some issue with multiple reject. only the first user in the list is deleted now. Have to check the same.

[2018-10-27 07:40] anitha181992 commented on #230
Pull request : https://github.com/ABenchM/abm/pull/239

[2018-11-08 10:55] Chinmay-92 opened #240 "Delete collection by version"
- [x] Implement API to delete a version on the basis of Collection ID and version ID as inputs.

- [x] If only 1 version is present, delete the collection as well.

[2018-11-08 10:58] #235 closed

[2018-11-08 10:58] Chinmay-92 opened #241 "HTTP Test for Lock/Unlock Users"

[2018-11-08 11:00] Chinmay-92 opened #242 "HTTP Test classes for Update User"
Possible controllers to be tested -
UserApprovalController
UserDetailsController
UserDeleteController
UpdateRoleController

[2018-11-08 11:04] Chinmay-92 opened #243 "Implement UI filters backend API calls"
- [ ] integration with Delphi WebAPI
- [ ] fetch filters from WebAPI Delphi
- [ ] new backend methods to call these filters

[2018-11-08 13:34] anut347 commented on #227
Fixed in https://github.com/ABenchM/abm/pull/244

[2018-11-08 13:34] #227 closed

[2018-11-15 10:55] Chinmay-92 commented on #234
@johannesduesing & @janniclas Could you please provide us updated linkss for SyntaxTest.Scala and Syntax.scala delphi-webapi.
Resources have been moved to some other location.

[2018-11-15 11:03] Chinmay-92 commented on #234
updated links:
[https://github.com/delphi-hub/delphi-webapi/blob/develop/src/test/scala/de/upb/cs/swt/delphi/webapi/search/querylanguage/SyntaxTest.scala](url)

[2018-11-15 11:08] anitha181992 opened #246 "HTTP Test case for admindeleteusers"

[2018-11-15 11:08] anitha181992 commented on #246
https://github.com/ABenchM/abm/pull/247

[2018-11-15 11:08] anitha181992 commented on #241
https://github.com/ABenchM/abm/pull/247

[2018-11-15 11:09] #241 closed

[2018-11-15 11:09] #246 closed

[2018-11-15 12:01] #230 closed

[2018-11-15 12:19] anitha181992 opened #249 "Merging code to develop"
Issue to keep track of all the changes being pushed to develop

[2018-11-15 12:19] anitha181992 commented on #249
https://github.com/ABenchM/abm/pull/248

[2018-11-15 13:50] anut347 opened #250 "Get User Details Enhancement"
Need to get Role of User also when user logs in

[2018-11-18 10:59] Chinmay-92 commented on #249
- [ ] login/registration related changes
- [ ] getAllUsersList related changes
- [ ] manage Users feature changes
- [ ] manage Public collections feature changes

[2018-11-18 16:20] anut347 opened #253 "Unknown column 'versions1_.privateStatus' in 'where clause' in develop branch"
Hi Ankur,

Getting the error in develop branch.
JpaCollectionDao.java
method : findPublic()
line no. 94

Prev SQL:
TypedQuery<JpaCollection> query = em.createQuery("SELECT c FROM collection c WHERE c.privateStatus = 0 AND c.isActive = 1 ORDER BY c.creation_date ASC", JpaCollection.class);

Current SQL:
TypedQuery<JpaCollection> query = em.createQuery("SELECT distinct c FROM collection c join c.ver

[2018-11-18 23:35] ankur-1989 commented on #253
Sorry, forgot to mention that new column has been added in version table. Now I have updated abm.sql file in develop and master branch both.

[2018-11-19 09:01] anut347 commented on #253
Thank you so much for the clarification. I'll try again tonight.

[2018-11-19 14:38] ankur-1989 opened #255 "Configure the persistence.xml and alter the JPA classes in order to update the schema"
This task is to add the functionality that will update the ABM database schema automatically whenever we make any changes in JPA classes. This will avoid the manual update of tables in ABM database. So if somebody forgets to mention the new column update or any other change then it can avoid the risk of not incorporating the new changes in your local database.

[2018-11-19 14:46] ankur-1989 commented on #255
Following JPA classes has been modified in order to achieve the results

- [ ] JPAVersion

- [ ] JPABuildResult

- [ ] JPABuildStep

- [ ] JPACollection

- [ ] JPACommit

- [ ] JPAFilterConf

- [ ] JPAFilterPin

- [ ] JPAFilterStatus

- [ ] JPAHermesBuild

- [ ] JPAHermesResult

- [ ] JPAHermesStep

- [ ] JPAProjectBuild

- [ ] JPARepository

- [ ] JPARepositoryProperty

- [ ] JPAUser

- [ ] JPAVe

[2018-11-21 14:35] anut347 opened #259 "getAllUsers merge to develop branch"
getAllUsers merge to develop branch

[2018-11-21 15:52] Chinmay-92 opened #261 "Test Class getAllUsersController"

[2018-11-21 15:53] Chinmay-92 commented on #261
[https://github.com/ABenchM/abm/pull/260](url)

[2018-11-21 15:53] #261 closed

[2018-11-21 15:54] Chinmay-92 opened #262 "Update milestones in git as per new milestones(design document)"
M1 & M2 - 30 Nov
M3 - 28 Feb
M4 - 15 Mar
M5 - 30 Mar

[2018-11-22 09:30] Chinmay-92 commented on #262
Milestones are updated hence closing the issue

[2018-11-22 09:30] #262 closed

[2018-11-22 09:47] #249 closed

[2018-11-22 10:11] anitha181992 opened #263 "User able to login with approved column set to 0"

[2018-11-22 10:12] Chinmay-92 commented on #242
https://github.com/ABenchM/abm/pull/258

[2018-11-22 10:29] Chinmay-92 opened #264 "Copy version ( not the entire collection )"
User should copy only a particular version and not the entire collection.

[2018-11-22 10:30] Chinmay-92 opened #265 "Make a version public (not the entire collection)"
User should make a version public instead of entire collection

[2018-11-26 17:20] Chinmay-92 opened #267 "Write test case to check db table for empty name user"
create test case to check the database table if User table has got the entries correctly. suppose if we don't give firstname and lastname then in database it should take null values instead of some random values.

[2018-11-27 09:30] mac24079 opened #268 "PostUserName method was not able to handle null password updation - User Profile."
PostUserName was giving an error because it was not able to handle a null password. Moreover, New user creation method should be different from update user as per the current coding style. Therefore, need to separate post request from put request.

Now, Save changes and update password buttons are independent of each other.

It can be found here:
https://github.com/ABenchM/abm/commit/3d3c844d06c72

[2018-11-27 09:33] mac24079 opened #269 "When deleting a user from User-profile functionality - error coming"
There is a need to change the postDeleteUser to deleteusername as post request was giving some parsing illegal character error even if I was passing the data in a correct format, so after changing it to the new format when I tried to delete the user it started giving me the below-attached error.

![delete_user](https://user-images.githubusercontent.com/23357897/49072118-d5d9b700-f22f-11e8-9811-754

[2018-11-27 10:09] mac24079 opened #270 "One email for one user."
At present, in the application, there is a feature where the userName is unique and different users can have the same email id. To make things simple, the application will now allow that one user can have only one e-mail and the same e-mail which has been used once cannot be used any further. But the e-mail can be changed/updated (like in my-profile module)so we will not keep the e-mail id as the

[2018-11-27 10:10] nguyenLisa commented on #270
Thanks @mac24079 , this will be much easier to handle.

[2018-11-27 10:16] mac24079 opened #271 "User-email functionality missing for resetting password."
At the moment (in abmpgdevelop+frontendpg branch), there is a functionality which is working well for resetting the password of a user (only thorugh Username) when a user clicks on the forgot-password feature/link.

This needs to be taken care of as we need that a user can reset the password both via username and e-mail.

Reference issue #270 .

[2018-11-27 10:21] mac24079 commented on #271
@anitha181992

I am mentioning you here as you were taking care of this part. Now, it is little simple as we will be allowing only one email for one username. Would you like to take this as we are near to the end date of the milestone? or you want me to take it and finish it.

Thanks.

[2018-11-27 10:52] anitha181992 commented on #270
@nguyenLisa: As per discussion with @mac24079 ,for resetting the password, we decided to  consider only the username to be entered by the user, which is already a primary key. So the issue gets resolved without worrying about the different users entering the same email id.

[2018-11-27 11:34] ankur-1989 commented on #253
Hi,
Are we still facing any issue? Shall I close this issue?
Best Regards,
Ankur

[2018-11-27 14:01] mac24079 commented on #270
That means when we are resetting the password we should reset just with the user name. May be I got confused a little.

@anitha - We are done with the resetting password functionality implementation. Sorry for the inconvenience.  We just need to make sure there is only one email for one user.

Thanks

[2018-11-27 18:52] johannesduesing commented on #234
Hey @Chinmay-92 ,
i think it's best if we discuss that during the next meeting on Thursday. Since we as the PG did not work on the query DSL or anything related to Hermes filtering, i think it is best to get Ben on board for that.
@bhermann is it possible for you to give us a brief overview over the query syntax of Delphi on next Thursday ?

[2018-11-27 18:53] bhermann commented on #234
Yes of course!

[2018-11-27 23:07] mac24079 opened #272 "Update Password for User Profile functionality"
At present, the updatepassword functionality is updating the password but when logging in with the updated password it doesn't allow the user to log in.

What is happening as per my observance: You can also find the attached figure after the end of text.

1. User profile page exchanges the data with the User table in the database. So when I update the password in the database it updates the passwo

[2018-11-27 23:09] mac24079 commented on #272
@anut347
Can you please confirm if I am wrong here, or we can follow the above solution or some other approach that you have written and I am not getting?

Thanks.

[2018-11-29 00:16] mac24079 opened #273 "Handle security exception when restarting the server."
There are security exceptions which needs to be taken care of when a user is logged in and server restarts.

Reference issue: https://github.com/ABenchM/abm-frontend/issues/212.

[2018-11-29 07:49] mac24079 commented on #271
@anitha181992
do we need this one ?

[2018-11-29 08:03] anitha181992 commented on #270
This issue can be closed as it is resolved

[2018-11-29 08:05] anitha181992 commented on #240
This functionality is already existing in the application

[2018-11-29 08:37] nguyenLisa commented on #270
Thanks @anitha181992. Could you reference the commit that solves the issue?

[2018-11-29 08:39] Chinmay-92 commented on #240
If only 1 version is present, delete the entire collection as well ?

[2018-11-29 13:11] anut347 commented on #272
@anitha181992 > Pls comment

[2018-11-29 13:30] anut347 commented on #272
Hi Mohit,

yes. It"s not updating the role properties table as of now . I"ll make the necessary changes in sometime and push it to abmpgdevelop first.

[2018-11-29 13:53] mac24079 commented on #272
Hello @anut347,

Sounds good. Since you are in the university network please test the front-end part and let me know the changes that I should include the front-end part. Like to call any services etc.

Thanks.

[2018-11-29 13:54] mac24079 commented on #272
Also, please do the needful for the issue #269 .

Thanks.

[2018-11-29 16:09] #236 closed

[2018-11-30 15:34] anut347 commented on #272
https://github.com/ABenchM/abm/pull/277

[2018-12-03 22:19] mac24079 commented on #272
@anut347

any updates on this? As the code has not yet pushed to abmpgdevelop branch.

[2018-12-03 22:19] mac24079 commented on #269
@anut347
Any updates?

[2018-12-03 22:20] mac24079 commented on #271
@anitha181992
Any updates?

[2018-12-04 13:17] anitha181992 commented on #271
@mac24079 : I am not sure why this issue was created, as we had decided that we will use username for changing password. So I guess we need to have a discussion with the team and know the requirements.
I wouldn't be able to decide on that

[2018-12-04 18:54] mac24079 commented on #271
@anitha181992
This issue was opened when we spoke that it is needed and how we will pass the email with the tokens when an emil will be sent to the user for resetting the password(PG meeting). Though we get the clarifications from @nguyenLisa afterwards (can be found here:https://github.com/ABenchM/abm/issues/270#issuecomment-442055528.) and for the same I thought to ask you once finally before cl

[2018-12-04 18:55] #271 closed

[2018-12-05 09:00] Chinmay-92 opened #282 "Fix method signatures"
Please use the following naming conventions for the respective operations
put -> update in table
post -> New entry in table
delete -> deletion in table

This should be changed in both backend and frontend

1. List down all methods which need to be changed.
2. Make corresponding changes in PR

[2018-12-05 09:06] Chinmay-92 opened #283 "SMTP Exception while sending emails to non uni email id"
[https://github.com/ABenchM/abm-frontend/issues/178](https://github.com/ABenchM/abm-frontend/issues/178)

[2018-12-05 18:18] anut347 commented on #272
We're facing some issue since none of us are able to find the enabled merge button. Will sort this out by tomorrow.

[2018-12-05 19:05] anut347 commented on #269
Hi Mohit, This is probably because there was an entry for this user in the reset_tokens table which i forgot to consider. The necessary code changes are made. I'll create a pull request for the same by tonight and try to merge the code in abmpgdevelop so that you can check. I've also changed the deleteUsername function name as required which will also be pushed by tonight hopefully.

[2018-12-05 19:06] anut347 commented on #272
Hi Mohit, Code changes are in abmpgdevelop branch now

[2018-12-05 19:17] anut347 commented on #269
Pull request created for the same.
https://github.com/ABenchM/abm/pull/284

[2018-12-05 19:25] anut347 opened #285 "Issue with frontend pull request not getting role in getUsername"
Issue with frontend pull request not getting role in getUsername
https://github.com/ABenchM/abm-frontend/pull/222

[2018-12-06 11:53] mac24079 commented on #269
@anut347
I still do not see the request merged into abmpgdevelop branch, so can't check at the moment. Also, please write here the name of the method that I should call for the change.

Thanks.

[2018-12-06 11:55] mac24079 commented on #272
@anut347
Could you please tell the name of the method and file I should consider checking this functionality.

Thanks.

[2018-12-06 12:19] anut347 commented on #272
You can use putUsername. This would be done as part of updating user profile. Correct me if I'm wrong.

[2018-12-06 12:20] anut347 commented on #269
You can use deleteUsername for this. Regarding merge, Chinmay will be speaking to Lisa. Since the abmpgdevelop branch is locked now and code can be merged only if two people approve the pull request.

[2018-12-13 23:42] mac24079 commented on #273
Merged with https://github.com/ABenchM/abm/pull/281. Hence, closing.

[2018-12-13 23:42] #273 closed

[2018-12-16 16:42] vishaljcj opened #288 "Wrong values inserted into 'role_members' table while registration"
after registration, role_members table is getting populated incorrecctly.
![image](https://user-images.githubusercontent.com/37999970/50056256-e22fa080-0159-11e9-85bb-5260e396534e.png)

[2018-12-16 17:33] nguyenLisa commented on #288
Could you specify what is going wrong exactly? Thanks!

[2018-12-16 19:38] vishaljcj commented on #288
The value which should be inserted into member_member is inserted into member_parent and the value should be inserted into member_parent is being inserted into member_member.

[2018-12-16 20:18] Chinmay-92 opened #289 "Create GetPublicversions API"
When a user clicks on any public collection, all public versions inside that collection should be accessible with this API.
JPA, Dao changes if required and new controller method to get allpublicversionsbyId(collectionId)

[2018-12-17 01:02] Chinmay-92 commented on #288
this seems to be "Not an issue"
role_members table should have member_parent as first column and member_member as second column.

Hence, closing the issue for now.

[2018-12-17 16:58] anut347 commented on #288
we can change JdbcRoleDao.java insert statement specifying the column names also in the insert SQL to be sure that this won't happen. I'll make changes and create a pull req.

[2018-12-17 17:32] anut347 commented on #288
https://github.com/ABenchM/abm/pull/290 for abmpgdevelop
https://github.com/ABenchM/abm/pull/291 foe develop

[2018-12-19 16:14] Chinmay-92 commented on #269
what the status on this issue ? @mac24079 & @anut347

[2018-12-19 16:15] #242 closed

[2018-12-19 16:18] Chinmay-92 commented on #282
lockUnlockUser to put
delete user to delete
deletePublicCollections to delete

[2018-12-19 16:20] Chinmay-92 commented on #283
This is fixed, waiting for the code to be merged into develop and get it tested.

[2018-12-19 16:21] Chinmay-92 commented on #268
@mac24079 is this issue still open ?

[2018-12-19 16:35] Chinmay-92 commented on #234
Below are some links where @vishaljcj and I were looking for the solution:
Most of these fixes tell that config changes must be done on server side.
When we checked server configuration via curl -H command, it has these options already set.

[https://daveceddia.com/access-control-allow-origin-cors-errors-in-angular/](https://daveceddia.com/access-control-allow-origin-cors-errors-in-angular/)

[htt

[2018-12-19 17:02] anut347 commented on #269
changes for delete username is done and committed to abmpgdevelop. testcase is still to be pushed. I couldn't integrate and test with frontend since i was getting error in my stsyem that dist folder does not exist. @mac24079 couold you please check?

[2018-12-19 17:07] anut347 commented on #285
added role column also in select.
https://github.com/ABenchM/abm/pull/251

[2018-12-19 17:07] #285 closed

[2018-12-19 17:40] johannesduesing commented on #234
Hey @Chinmay-92, what exactly is the issue you are facing? Can you maybe provide some error messages / steps to reproduce ?

[2018-12-19 18:14] mac24079 commented on #269
@anut347

All the changes are in the frontendpg branch for this functionality for the frontend part.  Please check once at your end,  if some error is coming as stated above please share a screenshot for the same so I can look into.

Thanks.

[2018-12-20 13:51] Chinmay-92 commented on #234
Steps to reproduce ( same steps as running abmfrontend ):

1. node index.js
2. go to localhost:3000/login  ( no need to login )
3. click query button

file to check search post method: delphi.service.ts

[2018-12-20 14:33] Chinmay-92 commented on #234
one more stackoverflow answer: https://stackoverflow.com/questions/20035101/why-does-my-javascript-get-a-no-access-control-allow-origin-header-is-present

[2018-12-20 15:01] ankur-1989 opened #294 "Fix the CollectionController Test cases"
**Describe the bug**
Test cases written for CollectionController are incomplete and not working properly.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the test cases in CollectionControllerTest.java file

**Expected behavior**
All the test cases should pass properly.

[2018-12-20 15:08] janniclas commented on #234
hi @Chinmay-92,
I had a quick look at your express server defined in the index.js and to me it seems like it is not configured to allow the cors request.
Have a look at this article, which shows how to configure an express server to allow cors requests https://medium.freecodecamp.org/the-best-ways-to-connect-to-the-server-using-angular-cli-b0c6b699716c
Setting the headers on the client side won't

[2018-12-20 16:58] Chinmay-92 commented on #264
API is already there in backend so closing it for now

[2018-12-20 16:58] #264 closed

[2018-12-20 19:52] Chinmay-92 commented on #283
PR https://github.com/ABenchM/abm/pull/293

[2018-12-21 11:11] mac24079 commented on #268
Submitted it here https://github.com/ABenchM/abm/commit/3d3c844d06c72f4dd369cd4ea9030c1d4b9dd2ed . Hence, closing this one.

[2018-12-21 11:11] #268 closed

[2018-12-30 09:10] mac24079 opened #295 "Forget Password Link is throwing exception - in abmpgdevelop branch."
@anitha181992

When resetting a password via Forgot Password link, it is throwing some error, can you please tell me if I am missing some stuff once after checking as per my remembrance this was working well sometimes before. This error was coming in @vishaljcj PC as well.

Error Front-end:
![image](https://user-images.githubusercontent.com/23357897/50545755-70f0f280-0c1b-11e9-83c4-79ca9b29a923.pn

[2018-12-30 12:03] anitha181992 commented on #295
@mac24079 : Nothing was changed from the last commit, I actually copied your code changes last commit back into the abmpgdevelop branch. I have passing test cases. The error usually occurs when the methods name do not match the required format, but nothing has been changed.

[2018-12-31 11:44] mac24079 commented on #295
Can you mention the commit changes/id here that you have copied? I am aware of the error that is coming but what I can see is the 500 error is from the back-end part. I can check tough but it may take time as presently I am on travel and have limited access to the laptop and communicating here via Mobile so can't easily see the changes you are referring. In case not, then I'll look it into once af

[2019-01-08 11:45] #243 closed

[2019-01-10 16:07] Chinmay-92 opened #297 "make a version public should make collection public as well"
Currently make version public is not changing status of collection to public.

[2019-01-10 16:11] Chinmay-92 commented on #265
it's already finished

[2019-01-10 16:11] #265 closed

[2019-01-10 16:13] Chinmay-92 commented on #289
it's finished and closing for now

[2019-01-10 16:13] #289 closed

[2019-01-10 16:17] Chinmay-92 commented on #240
closing this issue

[2019-01-10 16:17] #240 closed

[2019-01-10 16:20] Chinmay-92 opened #298 "derive a version"
derivedFrom field and version name should be added to derived version

[2019-01-10 16:31] Chinmay-92 opened #299 "getversiondetailsbyId api"
This api should return all the version details along with the collection id, collection name and owner of the collection from collection table.

[2019-01-10 16:35] Chinmay-92 commented on #234
After trying both approaches in the above link and discussion with Jan,
we have decided to write API in the backend to call delphi api/features and api/search to avoid CORS blocked issue.
followed by Json deserialization and parsing.

[2019-01-13 18:10] #259 closed

[2019-01-13 18:10] #250 closed

[2019-01-13 18:11] anut347 commented on #269
Addressed in https://github.com/ABenchM/abm/pull/301

[2019-01-13 18:11] #269 closed

[2019-01-13 18:47] Chinmay-92 commented on #282
Fixes are in place hence closing the issue

[2019-01-13 18:47] #282 closed

[2019-01-15 13:22] anitha181992 commented on #295
There was a problem with the URL endpoint, mentioned in the controller,changes are made and merged into develop

[2019-01-15 13:22] #295 closed

[2019-01-17 10:00] Chinmay-92 opened #307 "Delphi API in Backend for search projects"
Create Api endpoint for Delphi search projects and new data model to store just Ids of maven urls

As discussed:
Repository table will have three columns
1. Id
2. Repository_url
3. versionId

User can remove projects by Id
and add project by passing Repository_url & versionid

- [x] getFeatures
- [x] searchQuery

[2019-01-17 13:30] anut347 commented on #272
Fixed in https://github.com/ABenchM/abm/pull/305

[2019-01-17 13:30] #272 closed

[2019-01-24 10:07] anitha181992 commented on #297
Code changes : https://github.com/ABenchM/abm/tree/anitha_issue_297

[2019-01-24 13:20] #234 closed

[2019-01-24 13:23] #263 closed

[2019-01-24 13:23] #283 closed

[2019-01-24 13:37] ankur-1989 commented on #22
This does not occur now. It is working fine as expected. Therefore, there is no need for this ticket. closing the ticket.

[2019-01-24 13:37] #22 closed

[2019-01-24 14:07] anut347 commented on #267
Code changes in https://github.com/ABenchM/abm/pull/312

[2019-01-24 14:07] #267 closed

[2019-01-24 14:51] Chinmay-92 opened #314 "Database changes for delphi integration"
To create new table:
Project with below columns:
1. ID
2. versionID
3. projectID
4. source

[2019-01-24 14:57] Chinmay-92 opened #315 "Add projects and remove projects API"
Write APIs POST and DELETE for adding and removing projects from a version.
"Add project" with project data ( project id, version id, source from frontend)
"Remove project" by project ID

Database dependencies : only Project table.

[2019-01-24 16:14] vishaljcj opened #317 "Change the query in findPublic() method in JPACollectionDAO"
This method now returns all the versions which are public. Instead it should return those collections in which atleast one version is public.

[2019-01-27 07:51] mac24079 commented on #270
Just encountered this while cleaning up the issues from the back-log.

@anitha181992 Is it done?

[2019-01-31 09:21] anitha181992 commented on #317
Pull request : https://github.com/ABenchM/abm/pull/318

[2019-01-31 09:22] anitha181992 commented on #297
As discussed in the meeting, since we wont be maintaining any status update for the collections, this issue is no more relevant.
Hence closing the issue

[2019-01-31 09:22] #297 closed

[2019-01-31 10:50] anut347 opened #319 "Mail for Approve/Reject"
Mail should be sent when admin approves or rejects a user.
Corresponding code changes are in PR https://github.com/ABenchM/abm/pull/313.
It works for me from uni network. But @ankur-1989  is facing some issues with the same. Not sure of the exact issue.

UserApprovalController.java (Line no. 92 and 96)

[2019-01-31 13:35] #317 closed

[2019-01-31 14:02] Chinmay-92 commented on #315
[https://github.com/ABenchM/abm/pull/320](https://github.com/ABenchM/abm/pull/320)

[2019-01-31 14:03] Chinmay-92 commented on #314
[https://github.com/ABenchM/abm/pull/320](https://github.com/ABenchM/abm/pull/320)

[2019-01-31 14:03] Chinmay-92 commented on #307
[https://github.com/ABenchM/abm/pull/320](https://github.com/ABenchM/abm/pull/320)

[2019-01-31 14:39] Chinmay-92 opened #322 "add multiple projects and delete multiple projects APIs"
currently single project add / remove apis are implemented.
Add enhancement to accept list of projects in both APIs

[2019-02-03 13:15] Chinmay-92 commented on #319
merged in [https://github.com/ABenchM/abm/pull/313](https://github.com/ABenchM/abm/pull/313) hence closing the issue

[2019-02-03 13:15] #319 closed

[2019-02-03 13:20] Chinmay-92 opened #323 "Check test coverage of newly written controllers & methods"
- [ ] To write missing tests

- [ ] Improve test coverage ( should be atleast 60% )

[2019-02-03 13:23] Chinmay-92 opened #324 "Database changes in wiki/some template."
Write all database changes made for all milestones ( M1,M2, M3 and M4 ) in wiki page / some template.

[2019-02-05 13:38] #307 closed

[2019-02-05 13:39] #315 closed

[2019-02-05 13:40] #314 closed

[2019-02-07 13:40] Chinmay-92 opened #325 "Get projects API"

[2019-02-14 09:34] anut347 opened #327 "Test case null pointer exception"
- when i open CollectionControllerTest.java and run test I'm getting null pointer exception in delete in testCollectionById
- null pointer exception at collectionController.java line number 175 when running test case CollectionControllerTest.java
- delete in testCollectionById fails

Branch : https://github.com/ABenchM/abm/tree/anu_get_milestone4
Related to issue: https://github.com/ABenchM/abm/is

[2019-02-14 09:36] anut347 commented on #327
@Chinmay-92 :Please suggest

[2019-02-14 10:50] anut347 commented on #327
I deleted the entire DB and 'testCollectionById' test runs successfully.

[2019-02-14 12:07] anut347 commented on #327
https://github.com/ABenchM/abm/pull/328

[2019-02-16 00:11] ankur-1989 commented on #24
Configurations related to tokens and service in frontend is completed.But, there is some problem with ZenodoClient class as bnd is not able to import the zenodoClient class. Tried several methods but all are failing, maybe need to change the approach in the implementation of ZenodoAPI package.

[2019-02-16 09:03] bhermann commented on #24
Can you give more details on the problem? Error messages, etc.

[2019-02-16 12:59] ankur-1989 commented on #24
As part of Zenodo Integration, I was writing a Controller which is a rest endpoint.

We generally use @Reference annotation to register the service in controllers, So I did. But, it is giving the following error -
! Failed to start bundle de.fraunhofer.abm.app-1.0.0.201902161253, exception Could not resolve module: de.fraunhofer.abm.app [7]
  Unresolved requirement: Import-Package: de.upb.cs.swt.z

[2019-02-16 13:06] bhermann commented on #24
I'm not quite familiar with bnd itself, but know a bit about OSGi in general. Currently, we have packaged the API library as a Maven artifact. Is that enough or do we need to prepare more for it to be included.

[2019-02-19 13:24] Chinmay-92 commented on #322
Frontend is planning to handle multiple projects selection so this issue is on hold

[2019-02-19 14:03] Chinmay-92 commented on #327
merged, hence closing

[2019-02-19 14:03] #327 closed

[2019-02-19 14:07] Chinmay-92 commented on #299
PR #328 is merged
@anut347 - please close the issue if it's finished

[2019-02-19 14:08] Chinmay-92 commented on #298
merged hence closing it for now

[2019-02-19 14:08] #298 closed

[2019-02-19 16:48] Chinmay-92 commented on #82
this has been getting addressed in Milestone 4 so closing the issue

[2019-02-19 16:48] #82 closed

[2019-02-19 16:52] Chinmay-92 commented on #288
what's the status on this issue?

[2019-02-19 16:55] Chinmay-92 commented on #325
not required as discussed with vishal hence closing

[2019-02-19 16:55] #325 closed

[2019-02-19 19:06] vishaljcj commented on #299
@anut347 I tested this and the getVersionDEtails() method in the VersionController returns all the versions irrespective of the versionID passed. It should return only the version that is associated with the versionID passed, along with the collection details. So ideally there should be only one VersionDTO object inside the CollectionDTO.

[2019-02-19 19:08] iamebuka opened #329 "Issue with ABM installation script not installing properly"
**Describe the bug**
When you try to install ABM using the installation script that is part of the ABM git Repo, While the Installation completes, some key parts of the installation are never installed; The password for the MySQL database never gets assigned to the root user, also Ubuntu and the docker images as defined in the docker compose files are not installed

**To Reproduce**
Steps to repro

[2019-02-21 13:18] anut347 commented on #299
Hi. Fixed issue in branch https://github.com/ABenchM/abm/tree/anu_get_milestone4.
PR Created for the same https://github.com/ABenchM/abm/pull/330.

[2019-02-21 15:09] Minal0110 opened #331 "Admin should not be listed in manger user table"
On ABM UI, admin name should not appear on manage user table. to prevent admin from locking, deleting itself from ABM application.

Steps to reproduce the behavior:
1. Login to ABM website as a admin and click on manage user page to check if admin name is visible in mange user list.

**Expected behavior**
Admin name should not appear in manage user table.

Below is the screenshot of mentioned bug

[2019-02-23 12:58] anut347 commented on #299
PR merged and confirmed with Vishal. Hence closing this issue.

[2019-02-23 12:58] #299 closed

[2019-02-23 19:40] anut347 commented on #331
Changes made and PR created https://github.com/ABenchM/abm/pull/332

[2019-03-05 18:19] mac24079 commented on #270
This is not working in the develop branch.

Hence, reopening this one.

[2019-03-05 19:09] anitha181992 commented on #270
It was discussed that we should keep only the user ID should be unique, the email cannot be unique for a user, so we implemented the reset password functionality using the username not the email ID, so this functionality was never implemented.

[2019-03-06 08:59] mac24079 commented on #331
Merged with https://github.com/ABenchM/abm/pull/332 .

Hence, closing.

[2019-03-06 08:59] #331 closed

[2019-03-07 09:14] mac24079 commented on #270
Merged with https://github.com/ABenchM/abm/pull/337.

Hence, closing.

[2019-03-07 09:14] #270 closed

[2019-03-07 10:39] Chinmay-92 opened #338 "Issue building abm after migration steps"
I have followed all steps given
Clean all projects, restarted eclipse still nothing is fixing the error.
Noone else in ABM PG could finish migration steps

Below are the errors after clicking Run OSGI: ( No compilation errors were there )

Status ERROR: bndtools.core code=0 Cannot find /error/com.jcraft.jsch;version=0 Not found in [bnd-cache [/home/chinmay/Documents/abmbackend/abm/bnd-workspace/cn

[2019-03-07 10:39] Chinmay-92 commented on #338
If I click continue anyway button then below is the error stack

Failed to start bundle de.fraunhofer.abm.scm.git-1.0.0.201903071033, exception Could not resolve module: de.fraunhofer.abm.scm.git [18]
  Unresolved requirement: Import-Package: org.eclipse.jgit.api; version="[4.4.0,5.0.0)"
    -> Export-Package: org.eclipse.jgit.api; bundle-symbolic-name="org.eclipse.jgit"; bundle-version="4.4.0.201

[2019-03-07 11:03] Chinmay-92 commented on #338
I think I have figured out issue
I forgot to rename the jar, closing the issue

[2019-03-07 14:15] Chinmay-92 commented on #338
If I choose to continue anyway after this error, the server is running properly with the above errors in console.

[2019-03-07 16:14] ankur-1989 commented on #338
@Chinmay-92
Step for downloading jcraft package and replacing it with exisiting one might be missing. Therefore, it is coming. Please check otherwise we can meet on Monday.

[2019-03-08 19:03] ankur-1989 commented on #338
@Chinmay-92 Shall I close this issue then?

[2019-03-08 19:03] Chinmay-92 commented on #338
Yes we can close this issue

[2019-03-08 19:06] #338 closed

[2019-03-13 19:27] #323 closed

[2019-03-13 19:28] #322 closed

[2019-03-13 19:28] #288 closed

[2019-03-13 19:42] #324 closed

[2019-03-13 19:42] Chinmay-92 commented on #329
is this issue resolved? we can close it

[2019-03-14 09:52] iamebuka commented on #329
@Chinmay-92 no, it isnt resloved

[2019-03-14 15:36] Chinmay-92 opened #340 "Write API specifications in wiki"

[2019-03-14 16:38] Chinmay-92 commented on #340
API Specifications are added on this wiki
https://github.com/ABenchM/abm/wiki/ABM-API-specifications

[2019-03-25 07:56] #340 closed

[2019-04-04 13:45] ankur-1989 commented on #255
a new approach had been taken to ease up the manual creation of tables and columns in the database. Because this was not feasible. Therefore, closing this issue.

[2019-04-04 13:45] #255 closed

[2019-04-04 13:49] ankur-1989 commented on #108
Now there is no concept of commit Id in the current version of ABM. However, we can still add same project twice in a collection. Is this allowed?

![image](https://user-images.githubusercontent.com/24721077/55560779-3e123b00-56f1-11e9-97a8-d3d7d8d86726.png)

[2019-04-04 13:52] ankur-1989 commented on #24
Zenodo has been integrated with ABM and in master branch now. We can create a deposition on Zenodo now. To upload an archive to Zenodo for a particular version, we need artifact file from delphi and the discussion is pending for the same.

[2019-04-04 13:54] ankur-1989 commented on #18
@nguyenLisa
Can we start working on it?
I think now the system is stable and everything has been pushed to master as well.

[2019-04-04 13:55] ankur-1989 commented on #60
@nguyenLisa

Do we need this issue now?

[2019-04-04 14:09] bhermann commented on #108
This should not be allows... a Maven project with the same groupId, artifactId, and version should only allowed to be once in a collection

[2019-04-04 17:29] nguyenLisa commented on #18
Hi @ankur-1989 , the PG has already started separating ABM from Delphi. Please wait until after April 10th to take over. Once this date is past, we should definitely start with this.

[2019-04-04 17:30] nguyenLisa commented on #60
No need for that, since we moved the filtering to Delphi. Closing.

[2019-04-04 17:30] #60 closed

[2019-04-11 12:16] ankur-1989 commented on #108
It has been resolved. Now onwards same project won't be added against one version twice. Changes are in development now. Therefore, closing the issue.

[2019-04-11 12:16] #108 closed

[2019-04-11 19:29] ankur-1989 commented on #18
Front end part is done. Working on Backend part.

[2019-04-12 15:48] ankur-1989 commented on #18
Backend part is done. Now ABM only consists of Collection management. It does not consist of following functionalities - Hermes, Collection Build with the different build systems, Projects crawling from GitHub and bitbucket. Changes have been merged into develop branch. Therefore, closing this issue now.

[2019-04-12 15:48] #18 closed

[2019-04-12 15:49] ankur-1989 commented on #67
@nguyenLisa
Can we close this issue now? as this build functionality is not there anymore in ABM.

[2019-04-12 16:44] #67 closed

[2019-04-15 17:44] ankur-1989 commented on #24
After discussion, We came to a conclusion that we will parse the project urls in a collection and will download the corresponding jar and will zip all the jar files in a version and will upload it to zenodo.

[2019-04-17 15:19] ankur-1989 commented on #24
Zenodo Integration is finished.

[2019-04-23 11:36] #69 closed

[2019-04-23 11:37] ankur-1989 commented on #134
No need of this task now. project group not working on ABM. Therefore closing this issue.

[2019-04-23 11:37] #134 closed

[2019-04-24 12:38] ankur-1989 commented on #24
Closing this issue now. Token generated for Sandbox for ABM github user.

[2019-04-24 12:38] #24 closed

[2019-04-28 23:09] ankur-1989 commented on #329
The issue has been fixed now.
@nguyenLisa
I have tested the script once. Do you want someone also to test the script?

[2019-04-30 15:40] nguyenLisa commented on #329
The changes create issues in the tutorial here: https://github.com/ABenchM/abm/blob/master/docs/Developer_Manual.md

The new installation scripts do not download ABM anymore, so they require the user to clone ABM on their own, which is not explained here: https://github.com/ABenchM/abm/blob/master/docs/Developer_Manual.md#installation-scripts-linux-only.

As a result, this renders all mentions of

[2019-05-02 12:38] ankur-1989 commented on #329
@nguyenLisa
I have fixed the tutorial. Please check once and let me know if you find something missing. I will close the ticket after confirmation.
Thanks!!

[2019-05-02 16:47] nguyenLisa commented on #329
Hi,

There are still some references to "${DIRECTORY}", that should be adapted so that it works.

Also, could you add the commands for installing git and cloning the repo directly at the start of the installation script section?

Thanks.

[2019-05-03 00:48] ankur-1989 commented on #329
@nguyenLisa
Added the commands for repo cloning and git installation.

Regarding ${DIRECTORY} , it is mentioned in the manual installation set up and I believe it should be there. I have removed the references in the Installation script section.

[2019-05-03 07:23] nguyenLisa commented on #329
Oh, my bad. Thanks then!
Could you add a README at the root at the repo that points to the developer manual and the user manual? Then, feel free to close the issue.

[2019-05-03 16:07] ankur-1989 commented on #329
Done.

[2019-05-03 16:07] #329 closed